<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.eclipse.tigerstripe.workbench.renderer"
         name="Base renderer"
         point="org.eclipse.tigerstripe.workbench.base.diagramRendering">
      <rendererClass
            name="Default GMF Rendering"
            renderClass="org.eclipse.tigerstripe.workbench.ui.rendererplugin.actions.Renderer"/>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
  		<actionProvider 
    	    class="org.eclipse.tigerstripe.workbench.ui.DiagramActionGroup"
        	id="org.eclipse.tigerstripe.workbench.ui.explorer.actions.DiagramActions">
				<enablement>
					<instanceof
						value="org.eclipse.tigerstripe.workbench.ui.internal.views.explorerview.abstraction.AbstractGMFDiagramNode">
					</instanceof>
				</enablement>
		</actionProvider>
	</extension>

	 <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.tigerstripe.workbench.views.artifactExplorerViewNew">
         <includes>
            <actionExtension
                  pattern="org.eclipse.tigerstripe.workbench.ui.explorer.actions.DiagramActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   
	<extension
         point="org.eclipse.ui.preferencePages">
		<page
            category="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            class="org.eclipse.tigerstripe.workbench.ui.DiagramsPreferencePageWithConverter"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.DiagramPreferencePage"
            name="Diagrams"/>
	</extension>
	
	<extension
			point="org.eclipse.ui.menus">
		<menuContribution
				locationURI="popup:org.eclipse.tigerstripe.annotation.menus.annotations">
			<separator
				visible="true"
				name="org.eclipse.tigerstripe.annotation.ui.diagrams.separator">
			</separator>
			<dynamic
					class="org.eclipse.tigerstripe.annotation.ui.diagrams.actions.ShowAnnotationTypesContributionItem"
					id="org.eclipse.tigerstripe.annotation.ui.diagrams.actions.showTypes">
				<visibleWhen>
          			<iterate>
          				<and>
          					<instanceof
                    			value="org.eclipse.gmf.runtime.diagram.ui.editparts.GraphicalEditPart">
          					</instanceof>
          					<adapt type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent"/>
          				</and>          				
          			</iterate>
				</visibleWhen>
			</dynamic>
			<dynamic
					class="org.eclipse.tigerstripe.annotation.ui.diagrams.actions.HideAnnotationTypeContributionItem"
					id="org.eclipse.tigerstripe.annotation.ui.diagrams.actions.hideTypes">
				<visibleWhen>
          			<iterate>
          				<and>
          					<instanceof
                    			value="org.eclipse.gmf.runtime.diagram.ui.editparts.GraphicalEditPart">
          					</instanceof>
          					<adapt type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent"/>          					
          				</and>          				
          			</iterate>
				</visibleWhen>
			</dynamic>
		</menuContribution>
	</extension>
</plugin>
