<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.eclipse.tigerstripe.workbench.renderer"
         name="Base renderer"
         point="org.eclipse.tigerstripe.workbench.base.diagramRendering">
      <rendererClass
            name="Default GMF Rendering"
            renderClass="org.eclipse.tigerstripe.workbench.ui.rendererplugin.actions.Renderer"/>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
  		<actionProvider 
    	    class="org.eclipse.tigerstripe.workbench.ui.DiagramActionGroup"
        	id="org.eclipse.tigerstripe.workbench.ui.explorer.actions.DiagramActions">
				<enablement>
					<instanceof
						value="org.eclipse.tigerstripe.workbench.ui.internal.views.explorerview.abstraction.AbstractGMFDiagramNode">
					</instanceof>
				</enablement>
		</actionProvider>
	</extension>

	 <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.tigerstripe.workbench.views.artifactExplorerViewNew">
         <includes>
            <actionExtension
                  pattern="org.eclipse.tigerstripe.workbench.ui.explorer.actions.DiagramActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   
	<extension
         point="org.eclipse.ui.preferencePages">
		<page
            category="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            class="org.eclipse.tigerstripe.workbench.ui.DiagramsPreferencePageWithConverter"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.DiagramPreferencePage"
            name="Diagrams"/>
	</extension>
	
	<extension
        point="org.eclipse.ui.commands">
	     <command
           categoryId="org.eclipse.tigerstripe.workbench.category.refactoring"
           defaultHandler="org.eclipse.tigerstripe.workbench.convert.handlers.ToDataType"
           description="Convert artifact to data type"
           id="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.DataType"
           name="ConvertToDataType" />
         <command
           categoryId="org.eclipse.tigerstripe.workbench.category.refactoring"
           defaultHandler="org.eclipse.tigerstripe.workbench.convert.handlers.ToEntity"
           description="Convert artifact to entity"
           id="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.Entity"
           name="ConvertToEntity" />
	     <command
           categoryId="org.eclipse.tigerstripe.workbench.category.refactoring"
           defaultHandler="org.eclipse.tigerstripe.workbench.convert.handlers.ToEntity"
           description="Convert artifact to entity and association"
           id="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.EntityAndAssociation"
           name="ConvertToEntityAndAssociation" />
	     <command
           categoryId="org.eclipse.tigerstripe.workbench.category.refactoring"
           defaultHandler="org.eclipse.tigerstripe.workbench.convert.handlers.ToAssociation"
           description="Convert artifact to assciation"
           id="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.Association"
           name="ConvertToAssociation" />
	     <command
           categoryId="org.eclipse.tigerstripe.workbench.category.refactoring"
           defaultHandler="org.eclipse.tigerstripe.workbench.convert.handlers.ToAssociationClass"
           description="Convert artifact/artifacts to assciation class"
           id="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.AssociationClass"
           name="ConvertToAssociation" />
	</extension>
	
	<extension
        point="org.eclipse.ui.menus">
		<menuContribution
	           locationURI="popup:org.eclipse.ui.popup.any?after=group.build">
	           
	        <menu
	        	id="org.eclipse.tigerstripe.workbench.ui.base.refactoring"
	            label="Refactor Model">
	            
	           <command
	                 commandId="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.DataType"
	                 label="Convert to DataType..."
	                 style="push">
	                 <visibleWhen
                        checkEnabled="false">
		              <with
		                    variable="selection">
		                 <iterate
		                       ifEmpty="false">
		                    <and>
		                       <instanceof
		                             value="org.eclipse.jdt.core.IJavaElement">
		                       </instanceof>
		                       <adapt
		                             type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
		                             <instanceof
                                     	value="org.eclipse.tigerstripe.workbench.model.deprecated_.IManagedEntityArtifact" />
		                       </adapt>
		                    </and>
		                 </iterate>
		              </with>							                        
	                 </visibleWhen>
	           </command>
	           <command
	                 commandId="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.Entity"
	                 label="Convert to Entity..."
	                 style="push">
	                 <visibleWhen
                        checkEnabled="false">
		              <with
		                    variable="selection">
		                 <iterate
		                       ifEmpty="false">
		                    <and>
		                       <instanceof
		                             value="org.eclipse.jdt.core.IJavaElement">
		                       </instanceof>
		                       <adapt
		                             type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
		                             <instanceof
                                     	value="org.eclipse.tigerstripe.workbench.model.deprecated_.IDatatypeArtifact" />
		                       </adapt>
		                    </and>
		                 </iterate>
		              </with>							                        
	                 </visibleWhen>
	           </command>
	           <command
	                 commandId="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.EntityAndAssociation"
	                 label="Convert to Entity and Associations..."
	                 style="push">
	                 <visibleWhen
                        checkEnabled="false">
		              <with
		                    variable="selection">
		                 <iterate
		                       ifEmpty="false">
		                    <and>
		                       <instanceof
		                             value="org.eclipse.jdt.core.IJavaElement">
		                       </instanceof>
		                       <adapt
		                             type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
		                             <instanceof
                                     	value="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact" />
		                       </adapt>
		                    </and>
		                 </iterate>
		              </with>							                        
	                 </visibleWhen>
	           </command>
	           <command
	                 commandId="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.Association"
	                 label="Convert to Association..."
	                 style="push">
	                 <visibleWhen
                        checkEnabled="false">
		              <with
		                    variable="selection">
		                 <iterate
		                       ifEmpty="false">
		                    <and>
		                       <instanceof
		                             value="org.eclipse.jdt.core.IJavaElement">
		                       </instanceof>
		                       <adapt
		                             type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
		                             <instanceof
                                     	value="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact" />
		                       </adapt>
		                    </and>
		                 </iterate>
		              </with>							                        
	                 </visibleWhen>	                 
	           </command>
	           <command
	                 commandId="org.eclipse.tigerstripe.workbench.ui.base.refactor.convert.AssociationClass"
	                 label="Convert to AssociationClass..."
	                 style="push">
	                 <visibleWhen
                        checkEnabled="false">
		              <with
		                    variable="selection">
		                 <or>
			                 <iterate ifEmpty="false">
			                       <reference definitionId="org.eclipse.tigerstripe.workbench.convert.association" />
			                 </iterate>
			                <test property="org.eclipse.tigerstripe.workbench.convert.canTwoAssocAndArtifact" /> 
		                 </or>
		              </with>							                        
	                 </visibleWhen>	                 
	           </command>	   
			</menu>
		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
	      		adaptable="false"
	            id="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.convert.DataType"
	            objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.ManagedEntityArtifactEditPart">
	      	<action
	               class="org.eclipse.tigerstripe.workbench.convert.partactions.ToDataType"
	               id="org.eclipse.tigerstripe.workbench.convert.part.DataType"
	               label="Convert to DataType..."/>
	    </objectContribution>
		<objectContribution
	      		adaptable="false"
	            id="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.convert.Entity"
	            objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.DatatypeArtifactEditPart">
	      	<action
	               class="org.eclipse.tigerstripe.workbench.convert.partactions.ToEntity"
	               id="org.eclipse.tigerstripe.workbench.convert.part.Entity"
	               label="Convert to Entity..."/>
	    </objectContribution>

 		<!-- Buzilla 221443: Refactor Association <-> Association Class -->
		<objectContribution
	      		adaptable="false"
	            id="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.convert.Association"
	            objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.AssociationClassEditPart">
	      	<action
	               class="org.eclipse.tigerstripe.workbench.convert.partactions.ToAssociation"
	               id="org.eclipse.tigerstripe.workbench.convert.part.Association"
	               label="Convert to Association..."/>
	    </objectContribution>
		<objectContribution
	      		adaptable="false"
	            id="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.convert.Association2"
	            objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.AssociationClassClassEditPart">
	      	<action
	               class="org.eclipse.tigerstripe.workbench.convert.partactions.ToAssociation"
	               id="org.eclipse.tigerstripe.workbench.convert.part.Association2"
	               label="Convert to Association..."/>
	    </objectContribution>
		<objectContribution
	      		adaptable="false"
	            id="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.convert.Association"
	            objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.AssociationClassEditPart">
	      	<action
	               class="org.eclipse.tigerstripe.workbench.convert.partactions.ToEntity"
	               id="org.eclipse.tigerstripe.workbench.convert.part.EntityAndAssociation"
	               label="Convert to Entity and Associations..."/>
	    </objectContribution>
		<objectContribution
	      		adaptable="false"
	            id="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.convert.Association2"
	            objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.AssociationClassClassEditPart">
	      	<action
	               class="org.eclipse.tigerstripe.workbench.convert.partactions.ToEntity"
	               id="org.eclipse.tigerstripe.workbench.convert.part.EntityAndAssociation2"
	               label="Convert to Entity and Association..."/>
	    </objectContribution>
		<objectContribution
	      		adaptable="false"
	            id="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.convert.AssociationClass2"
	            objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.TigerstripeEditableEntityEditPart">
	      	<action
	               class="org.eclipse.tigerstripe.workbench.convert.partactions.ToAssociationClass"
	               id="org.eclipse.tigerstripe.workbench.convert.part.AssociationClass"
	               label="Convert to Association Class..."/>
	    </objectContribution>
	    
	    
	</extension>
	
	<extension
		point="org.eclipse.tigerstripe.workbench.ui.base.lifecycle">
		<handler
			class="org.eclipse.tigerstripe.workbench.convert.ConverterLifecycle">
		</handler>
	</extension>	
	

	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="true"
            class="org.eclipse.tigerstripe.workbench.ui.diagram.actions.DiagramContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.TigerstripeEditableEntityEditPart"/>
            <popupPredefinedItem id="fillColorContributionItem" path="/formatMenu/fontFillLineGroup" remove="true"/>
            <popupCustom path="/formatMenu/fontFillLineGroup" id="tigerstripeFillColorContributionItem"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.NamePackageInterface"/>
            <popupPredefinedItem id="fillColorContributionItem" path="/formatMenu/fontFillLineGroup" remove="true"/>
            <popupCustom path="/formatMenu/fontFillLineGroup" id="tigerstripeFillColorContributionItem"/>
         </popupContribution>

         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.tigerstripe.workbench.ui.instancediagram.diagram.edit.parts.TigerstripeEditableEntityEditPart"/>
            <popupPredefinedItem id="fillColorContributionItem" path="/formatMenu/fontFillLineGroup" remove="true"/>
            <popupCustom path="/formatMenu/fontFillLineGroup" id="tigerstripeFillColorContributionItem"/>
         </popupContribution>         

         <partContribution class="org.eclipse.tigerstripe.workbench.ui.internal.gmf.AbstractDiagramEditor">
         	<partCustom menubarPath="/diagramMenu/fontColorLineGroup" toolbarPath="/toolbarColorLineGroup" id="tigerstripeFillColorContributionItem">
            </partCustom>
         </partContribution>
         <partContribution class="org.eclipse.tigerstripe.workbench.ui.internal.gmf.AbstractDiagramEditor">
         	<partPredefinedItem
                id="fillColorContributionItem"
                menubarPath="/diagramMenu/fontColorLineGroup"
                toolbarPath="/toolbarColorLineGroup"
                removeFromMenubar="true"
                removeFromToolbar="true">
         	</partPredefinedItem>
         </partContribution> 
      </contributionItemProvider>
   </extension>
   
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.eclipse.tigerstripe.workbench.convert.association">
			<and>
				<instanceof value="org.eclipse.jdt.core.IJavaElement" />
				<adapt type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
					<and>
						<instanceof value="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationArtifact" />
						<not>
							<instanceof value="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact" />
						</not>
					</and>
				</adapt>
			</and>
		</definition>
		<definition id="org.eclipse.tigerstripe.workbench.convert.notassociation">
			<and>
				<instanceof value="org.eclipse.jdt.core.IJavaElement" />
				<adapt type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
					<not>
						<instanceof value="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationArtifact" />
					</not>
				</adapt>
			</and>
		</definition>
	</extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester 
			class="org.eclipse.tigerstripe.workbench.convert.SelectionTester" 
			id="org.eclipse.tigerstripe.workbench.convert.SelectionTester" 
			namespace="org.eclipse.tigerstripe.workbench.convert" 
			properties="canTwoAssocAndArtifact" 
			type="java.lang.Object" />
	</extension>
</plugin>
