<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.eclipse.tigerstripe.workbench.renderer"
         name="Base renderer"
         point="org.eclipse.tigerstripe.workbench.base.diagramRendering">
      <rendererClass
            name="Default GMF Rendering"
            renderClass="org.eclipse.tigerstripe.workbench.ui.rendererplugin.actions.Renderer"/>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
  		<actionProvider 
    	    class="org.eclipse.tigerstripe.workbench.ui.DiagramActionGroup"
        	id="org.eclipse.tigerstripe.workbench.ui.explorer.actions.DiagramActions">
				<enablement>
					<instanceof
						value="org.eclipse.tigerstripe.workbench.ui.internal.views.explorerview.abstraction.AbstractGMFDiagramNode">
					</instanceof>
				</enablement>
		</actionProvider>
	</extension>

	 <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.tigerstripe.workbench.views.artifactExplorerViewNew">
         <includes>
            <actionExtension
                  pattern="org.eclipse.tigerstripe.workbench.ui.explorer.actions.DiagramActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   
	<extension
         point="org.eclipse.ui.preferencePages">
		<page
            category="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            class="org.eclipse.tigerstripe.workbench.ui.DiagramsPreferencePageWithConverter"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.DiagramPreferencePage"
            name="Diagrams"/>
	</extension>

	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="true"
            class="org.eclipse.tigerstripe.workbench.ui.diagram.actions.DiagramContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.TigerstripeEditableEntityEditPart"/>
            <popupPredefinedItem id="fillColorContributionItem" path="/formatMenu/fontFillLineGroup" remove="true"/>
            <popupCustom path="/formatMenu/fontFillLineGroup" id="tigerstripeFillColorContributionItem"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.edit.parts.NamePackageInterface"/>
            <popupPredefinedItem id="fillColorContributionItem" path="/formatMenu/fontFillLineGroup" remove="true"/>
            <popupCustom path="/formatMenu/fontFillLineGroup" id="tigerstripeFillColorContributionItem"/>
         </popupContribution>

         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.tigerstripe.workbench.ui.instancediagram.diagram.edit.parts.TigerstripeEditableEntityEditPart"/>
            <popupPredefinedItem id="fillColorContributionItem" path="/formatMenu/fontFillLineGroup" remove="true"/>
            <popupCustom path="/formatMenu/fontFillLineGroup" id="tigerstripeFillColorContributionItem"/>
         </popupContribution>         

         <partContribution class="org.eclipse.tigerstripe.workbench.ui.internal.gmf.AbstractDiagramEditor">
         	<partCustom menubarPath="/diagramMenu/fontColorLineGroup" toolbarPath="/toolbarColorLineGroup" id="tigerstripeFillColorContributionItem">
            </partCustom>
         </partContribution>
         <partContribution class="org.eclipse.tigerstripe.workbench.ui.internal.gmf.AbstractDiagramEditor">
         	<partPredefinedItem
                id="fillColorContributionItem"
                menubarPath="/diagramMenu/fontColorLineGroup"
                toolbarPath="/toolbarColorLineGroup"
                removeFromMenubar="true"
                removeFromToolbar="true">
         	</partPredefinedItem>
         </partContribution> 
      </contributionItemProvider>
   </extension>
</plugin>
