<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2008/07/14 08:19:45 ystrot Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/tigerstripe/annotation/example/person.ecore" 
       class = "org.eclipse.tigerstripe.annotation.example.person.PersonPackage"
       genModel = "model/person.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Person"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/example/person.ecore"
           description="Personal information, like a full name, e-mail address, telephone number and so on"
           eclass="Person">
         <target
             type="org.eclipse.core.resources.IResource"/>
     </definition>
  </extension>
  
  <extension
        point="org.eclipse.tigerstripe.annotation.ui.annotationLabelProvider">
     <provider
           class="org.eclipse.tigerstripe.annotation.example.person.PersonLabelProvider"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/example/person.ecore"
           eclass="Person"/>
  </extension>

</plugin>
