#if( $entity.getGetFlavorDetailsStr("simpleByKey").Flag == "true" || $entity.getGetFlavorDetailsStr("simpleByKey").Flag == "optional")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
#set ($optional = ($entity.getGetFlavorDetailsStr("simpleByKey").Flag == "optional"))
#set ($user = $entity.getGetFlavorDetailsStr("simpleByKey").Exceptions)
#set ($default = $entity.getDefaultGetFlavorDetailsStr("simpleByKey").Exceptions)
    /**
    *    This is the get$util.capitalize(${entity.getName()})ByKey method.
    *
    $ossjUtil.formatComment($entity.getGetFlavorDetailsStr("simpleByKey").Comment)
    *
#optComm ( $optional )
    *    @param $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)
    *    @param attrNames
    *    @return $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName
    *
#exComm ( $optional $user $default )    */
    public $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName get$util.capitalize(${entity.getName()})ByKey(
        $ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)
        , String[] attrNames

#exList ( $optional $user $default )
#end
#if( $entity.getGetFlavorDetailsStr("bulkAtomicByKeys").Flag == "true" || $entity.getGetFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional")
#set ($optional = ($entity.getGetFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional"))
#set ($user = $entity.getGetFlavorDetailsStr("bulkAtomicByKeys").Exceptions)
#set ($default = $entity.getDefaultGetFlavorDetailsStr("bulkAtomicByKeys").Exceptions)
    /**
    *    This is the get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys method.
    *
    $ossjUtil.formatComment($entity.getGetFlavorDetailsStr("bulkAtomicByKeys").Comment)
    *
#optComm ( $optional )
    *    @param $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)s
    *    @param attrNames
    *    @return $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName[]
    *
#exComm ( $optional $user $default )    */
    public $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName[] get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys(
        $ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName[] $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)s
        , String[] attrNames

#exList ( $optional $user $default )
#end
#if( $entity.getGetFlavorDetailsStr("byTemplate").Flag == "true" || $entity.getGetFlavorDetailsStr("byTemplate").Flag == "optional")
#set ($optional = ($entity.getGetFlavorDetailsStr("byTemplate").Flag == "optional"))
#set ($user = $entity.getGetFlavorDetailsStr("byTemplate").Exceptions)
#set ($default = $entity.getDefaultGetFlavorDetailsStr("byTemplate").Exceptions)
    /**
    *    This is the get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate method.
    *
    $ossjUtil.formatComment($entity.getGetFlavorDetailsStr("byTemplate").Comment)
    *
#optComm ( $optional )
    *    @param template
    *    @param attrNames
    *    @return $ossjUtil.valueIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName
    *
#exComm ( $optional $user $default )    */
    public $ossjUtil.valueIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate(
        $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName template
        , String[] attrNames

#exList ( $optional $user $default )
#end
#if( $entity.getGetFlavorDetailsStr("byTemplates").Flag == "true" || $entity.getGetFlavorDetailsStr("byTemplates").Flag == "optional")
#set ($optional = ($entity.getGetFlavorDetailsStr("byTemplates").Flag == "optional"))
#set ($user = $entity.getGetFlavorDetailsStr("byTemplates").Exceptions)
#set ($default = $entity.getDefaultGetFlavorDetailsStr("byTemplates").Exceptions)
    /**
    *    This is the get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates method.
    *
    $ossjUtil.formatComment($entity.getGetFlavorDetailsStr("byTemplates").Comment)
    *
#optComm ( $optional )
    *    @param templates
    *    @param attrNames
    *    @return $ossjUtil.valueIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName
    *
#exComm ( $optional $user $default )    */
    public $ossjUtil.valueIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates(
        $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName[] templates
        , String[] attrNames

#exList ( $optional $user $default )
#end
