#if( $entity.getRemoveFlavorDetailsStr("simpleByKey").Flag == "true" || $entity.getRemoveFlavorDetailsStr("simpleByKey").Flag == "optional")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
#set ($optional = ($entity.getRemoveFlavorDetailsStr("simpleByKey").Flag == "optional"))
#set ($user = $entity.getRemoveFlavorDetailsStr("simpleByKey").Exceptions)
#set ($default = $entity.getDefaultRemoveFlavorDetailsStr("simpleByKey").Exceptions)
    /**
    *    This is the remove$util.capitalize(${entity.getName()})ByKey method.
    *
    $ossjUtil.formatComment($entity.getRemoveFlavorDetailsStr("simpleByKey").Comment)
    *
#optComm ( $optional )
    *    @param $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)
#exComm ( $optional $user $default )    */
    public void remove$util.capitalize(${entity.getName()})ByKey(
        $ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)

#exList ( $optional $user $default )
#end
#if( $entity.getRemoveFlavorDetailsStr("bulkAtomicByKeys").Flag == "true" || $entity.getRemoveFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional")
#set ($optional = ($entity.getRemoveFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional"))
#set ($user = $entity.getRemoveFlavorDetailsStr("bulkAtomicByKeys").Exceptions)
#set ($default = $entity.getDefaultRemoveFlavorDetailsStr("bulkAtomicByKeys").Exceptions)
    /**
    *    This is the remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys method.
    *
    $ossjUtil.formatComment($entity.getRemoveFlavorDetailsStr("bulkAtomicByKeys").Comment)
    *
#optComm ( $optional )
    *    @param $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)s
#exComm ( $optional $user $default )    */
    public void remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys(
        $ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName[] $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)s

#exList ( $optional $user $default )
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplate").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplate").Flag == "optional")
#set ($optional = ($entity.getRemoveFlavorDetailsStr("byTemplate").Flag == "optional"))
#set ($user = $entity.getRemoveFlavorDetailsStr("byTemplate").Exceptions)
#set ($default = $entity.getDefaultRemoveFlavorDetailsStr("byTemplate").Exceptions)
    /**
    *    This is the remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate method.
    *
    $ossjUtil.formatComment($entity.getRemoveFlavorDetailsStr("byTemplate").Comment)
    *
#optComm ( $optional )
    *    @param template
#exComm ( $optional $user $default )    */
    public void remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate(
        $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName template

#exList ( $optional $user $default )
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplates").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplates").Flag == "optional")
#set ($optional = ($entity.getRemoveFlavorDetailsStr("byTemplates").Flag == "optional"))
#set ($user = $entity.getRemoveFlavorDetailsStr("byTemplates").Exceptions)
#set ($default = $entity.getDefaultRemoveFlavorDetailsStr("byTemplates").Exceptions)
    /**
    *    This is the remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates method.
    *
    $ossjUtil.formatComment($entity.getRemoveFlavorDetailsStr("byTemplates").Comment)
    *
#optComm ( $optional )
    *    @param templates
#exComm ( $optional $user $default )    */
    public void remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates(
        $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName[] templates

#exList ( $optional $user $default )
#end
#if( $entity.getRemoveFlavorDetailsStr("bulkBestEffortByKeys").Flag == "true" || $entity.getRemoveFlavorDetailsStr("bulkBestEffortByKeys").Flag == "optional")
#set ($optional = ($entity.getRemoveFlavorDetailsStr("bulkBestEffortByKeys").Flag == "optional"))
#set ($user = $entity.getRemoveFlavorDetailsStr("bulkBestEffortByKeys").Exceptions)
#set ($default = $entity.getDefaultRemoveFlavorDetailsStr("bulkBestEffortByKeys").Exceptions)
    /**
    *    This is the tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys method.
    *
    $ossjUtil.formatComment($entity.getRemoveFlavorDetailsStr("bulkBestEffortByKeys").Comment)
    *
#optComm ( $optional )
    *    @param $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)s
    *    @return ${ossjUtil.keyResultInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName}[]
    *
#exComm ( $optional $user $default )    */
    public ${ossjUtil.keyResultInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName}[] tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys(
        $ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName[] $util.unCapitalize($ossjUtil.keyInterfaceOf($entity.FullyQualifiedName).Name)s

#exList ( $optional $user $default )
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplateBestEffort").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplateBestEffort").Flag == "optional")
#set ($optional = ($entity.getRemoveFlavorDetailsStr("byTemplateBestEffort").Flag == "optional"))
#set ($user = $entity.getRemoveFlavorDetailsStr("byTemplateBestEffort").Exceptions)
#set ($default = $entity.getDefaultRemoveFlavorDetailsStr("byTemplateBestEffort").Exceptions)
    /**
    *    This is the tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate method.
    *
    $ossjUtil.formatComment($entity.getRemoveFlavorDetailsStr("byTemplateBestEffort").Comment)
    *
#optComm ( $optional )
    *    @param template
    *    @param failuresOnly
    *    @return $ossjUtil.keyResultIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName
    *
#exComm ( $optional $user $default )    */
    public $ossjUtil.keyResultIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate(
        $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName template
        , boolean failuresOnly

#exList ( $optional $user $default )
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplatesBestEffort").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplatesBestEffort").Flag == "optional")
#set ($optional = ($entity.getRemoveFlavorDetailsStr("byTemplatesBestEffort").Flag == "optional"))
#set ($user = $entity.getRemoveFlavorDetailsStr("byTemplatesBestEffort").Exceptions)
#set ($default = $entity.getDefaultRemoveFlavorDetailsStr("byTemplatesBestEffort").Exceptions)
    /**
    *    This is the tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates method.
    *
    $ossjUtil.formatComment($entity.getRemoveFlavorDetailsStr("byTemplatesBestEffort").Comment)
    *
#optComm ( $optional )
    *    @param templates
    *    @param failuresOnly
    *    @return $ossjUtil.keyResultIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName
    *
#exComm ( $optional $user $default )    */
    public $ossjUtil.keyResultIteratorInterfaceOf($entity.FullyQualifiedName).FullyQualifiedName tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates(
        $ossjUtil.interfaceOf($entity.FullyQualifiedName).FullyQualifiedName[] templates
        , boolean failuresOnly

#exList ( $optional $user $default )
#end
