#Fri Jul 10 09:17:11 PDT 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*;.*migration.*
pluginbuilder.features=org.eclipse.tigerstripe.workbench,org.eclipse.tigerstripe.base.test_feature,org.eclipse.tigerstripe.annotation.feature,org.eclipse.tigerstripe.base
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=true
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
