#Fri Apr 03 08:20:09 PDT 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=org.eclipse.tigerstripe.workbench,org.eclipse.tigerstripe.base.test_feature,org.eclipse.tigerstripe.workbench.ui.test.feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=true
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
