<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
        <elementTypeFactory
               factory="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.factories.AnnotationTypeFactory"
               kind = "org.eclipse.tigerstripe.annotation.ui.diagrams.IAnnotationType"
               params = "semanticHint">
        </elementTypeFactory>
        <specializationType
                id="org.eclipse.tigerstripe.annotation.ui.diagram.presentation.annotation"     
                icon="icons/annotation.gif"
                name="Annotation"
                kind="org.eclipse.tigerstripe.annotation.ui.diagrams.IAnnotationType">
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="Annotation"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.tigerstripe.annotation.ui.diagram.presentation.connection"     
                icon="icons/connection.gif"
                name="Connection"
                kind="org.eclipse.tigerstripe.annotation.ui.diagrams.IAnnotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="AnnotationConnection"/> 
        </specializationType>
        
		<metamodel nsURI="http:///org/eclipse/tigerstripe/annotation.ecore">
			<metamodelType
					id="org.eclipse.tigerstripe.annotation.ui.diagram.presentation.ann"
					name="Annotation"
					kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
					eclass="Annotation">
				<param name="semanticHint" value="ann"/>
     		</metamodelType>
  		</metamodel>
        
   </extension>
   
	<extension id="presentationPaletteProvider" name="Palette Provider" point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority name="Lowest"/>
         <editor class="org.eclipse.gmf.runtime.diagram.ui.parts.DiagramEditor"/>
         <contribution factoryClass="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.factories.DiagramPaletteFactory">
            <entry label="Annotations" kind="drawer" description="Annotations" path="/standardGroup/" id="annotationStack"/>
            <entry label="Annotation" kind="tool" description="Create Annotation" path="/standardGroup/annotationStack/"
            	large_icon="icons/annotation.gif" small_icon="icons/annotation.gif" id="annotationTool"/>
            <entry label="Connection" kind="tool" description="Create Connection" path="/standardGroup/annotationStack/"
            	large_icon="icons/connection.gif" small_icon="icons/connection.gif" id="annotationConnectionTool"/>
         </contribution>
      </paletteProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.factories.AnnotationViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="ann"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="Annotation"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="AnnotationConnection"/>
      </viewProvider>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.factories.AnnotationProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.tigerstripe.annotation.gmf.add_annotations"
            class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.AnnotationsCreator">
      </handler>
   </extension>
	 
	<extension point="org.eclipse.ui.commands">
		<command
			name="Add Annotations"
			description="Add Annotations"
			id="org.eclipse.tigerstripe.annotation.gmf.add_annotations"/>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key
			sequence="M1+M2+A"
			contextId="org.eclipse.ui.globalScope"
			commandId="org.eclipse.tigerstripe.annotation.gmf.add_annotations"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
	
	<extension
	      point="org.eclipse.ui.startup">
	      <startup class="org.eclipse.tigerstripe.annotation.ui.diagrams.Startup"/>
	</extension>
	
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http:///org/eclipse/tigerstripe/annotation/ui/diagrams/model.ecore" 
			class = "org.eclipse.tigerstripe.annotation.ui.diagrams.model.ModelPackage"
			genModel = "model/model.genmodel" /> 
	</extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.tigerstripe.annotation.ui.diagrams.parts"
            nameFilter="*"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.GraphicalEditPart">
         <action
               class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.actions.ShowAnnotationTypes"
               enablesFor="+"
               id="org.eclipse.tigerstripe.annotation.ui.diagrams.show.types"
               label="Show Annotation Types"
               menubarPath="org.eclipse.tigerstripe.annotation.ui.mainmenu/concealment"
               style="pulldown"
               tooltip="Show Annotation Types">
         </action>
         <action
               class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.actions.HideAnnotationTypes"
               enablesFor="+"
               id="org.eclipse.tigerstripe.annotation.ui.diagrams.hide.types"
               label="Hide Annotation Types"
               menubarPath="org.eclipse.tigerstripe.annotation.ui.mainmenu/concealment"
               style="pulldown"
               tooltip="Hide Annotation Types">
         </action>
      </objectContribution>
   </extension>

</plugin>
