<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="annotationEditpartProviders" name="annotationEditpartProviders" schema="schema/annotationEditpartProviders.exsd"/>
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
        <elementTypeFactory
               factory="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.factories.AnnotationTypeFactory"
               kind = "org.eclipse.tigerstripe.annotation.ui.diagrams.IAnnotationType"
               params = "semanticHint">
        </elementTypeFactory>
        <specializationType
                id="org.eclipse.tigerstripe.annotation.ui.diagram.presentation.meta"     
                name="MetaAnnotation"
                kind="org.eclipse.tigerstripe.annotation.ui.diagrams.IAnnotationType">
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="MetaAnnotation"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.tigerstripe.annotation.ui.diagram.presentation.metaView"     
                name="MetaViewAnnotation"
                kind="org.eclipse.tigerstripe.annotation.ui.diagrams.IAnnotationType">
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="MetaViewAnnotation"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.tigerstripe.annotation.ui.diagram.presentation.connection"     
                icon="icons/connection.gif"
                name="Connection"
                kind="org.eclipse.tigerstripe.annotation.ui.diagrams.IAnnotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="AnnotationConnection"/> 
        </specializationType>
        
		<metamodel nsURI="http:///org/eclipse/tigerstripe/annotation.ecore">
			<metamodelType
					id="org.eclipse.tigerstripe.annotation.ui.diagram.presentation.annotation"
					name="Annotation"
					kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
					eclass="Annotation">
				<param name="semanticHint" value="Annotation"/>
     		</metamodelType>
  		</metamodel>
        
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.factories.AnnotationViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="Annotation"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="MetaAnnotation"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="MetaViewAnnotation"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="AnnotationConnection"/>
      </viewProvider>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.factories.AnnotationProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>
	
	<extension
	      point="org.eclipse.ui.startup">
	      <startup class="org.eclipse.tigerstripe.annotation.ui.diagrams.Startup"/>
	</extension>
	
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http:///org/eclipse/tigerstripe/annotation/ui/diagrams/model.ecore" 
			class = "org.eclipse.tigerstripe.annotation.ui.diagrams.model.ModelPackage"
			genModel = "model/model.genmodel" /> 
	</extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.tigerstripe.annotation.ui.diagrams.parts"
            nameFilter="*"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.GraphicalEditPart">
         <action
               class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.actions.ShowAnnotationTypes"
               enablesFor="+"
               id="org.eclipse.tigerstripe.annotation.ui.diagrams.show.types"
               label="Show Annotation Types"
               menubarPath="org.eclipse.tigerstripe.annotation.ui.mainmenu/concealment"
               style="pulldown"
               tooltip="Show Annotation Types">
         </action>
         <action
               class="org.eclipse.tigerstripe.annotation.ui.internal.diagrams.actions.HideAnnotationTypes"
               enablesFor="+"
               id="org.eclipse.tigerstripe.annotation.ui.diagrams.hide.types"
               label="Hide Annotation Types"
               menubarPath="org.eclipse.tigerstripe.annotation.ui.mainmenu/concealment"
               style="pulldown"
               tooltip="Hide Annotation Types">
         </action>
      </objectContribution>
   </extension>

</plugin>
