#if( $entity.getGetFlavorDetailsStr("simpleByKey").Flag == "true" || $entity.getGetFlavorDetailsStr("simpleByKey").Flag == "optional")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
    <wsdl:operation name="get$util.capitalize(${entity.getName()})ByKey">
        <soap:operation soapAction="get$util.capitalize(${entity.getName()})ByKey" style="document" />
       <wsdl:input>
           <soap:body parts="parameters" use="literal" />
       </wsdl:input>
       <wsdl:output>
           <soap:body parts="parameters" use="literal" />
       </wsdl:output>
       <wsdl:fault name="get$util.capitalize(${entity.getName()})ByKeyException">
           <soap:fault name="get$util.capitalize(${entity.getName()})ByKeyException" use="literal" />
       </wsdl:fault>
		</wsdl:operation>
#end
#if( $entity.getGetFlavorDetailsStr("bulkAtomicByKeys").Flag == "true" || $entity.getGetFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional")
    <wsdl:operation name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys">
        <soap:operation soapAction="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys" style="document" />
       <wsdl:input>
           <soap:body parts="parameters" use="literal" />
       </wsdl:input>
       <wsdl:output>
           <soap:body parts="parameters" use="literal" />
       </wsdl:output>
       <wsdl:fault name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException">
           <soap:fault name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" use="literal" />
       </wsdl:fault>
		</wsdl:operation>
#end
#if( $entity.getGetFlavorDetailsStr("byTemplate").Flag == "true" || $entity.getGetFlavorDetailsStr("byTemplate").Flag == "optional")
    <wsdl:operation name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate">
        <soap:operation soapAction="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate" style="document" />
       <wsdl:input>
           <soap:body parts="parameters" use="literal" />
       </wsdl:input>
       <wsdl:output>
           <soap:body parts="parameters" use="literal" />
       </wsdl:output>
       <wsdl:fault name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException">
           <soap:fault name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" use="literal" />
       </wsdl:fault>
		</wsdl:operation>
#end
#if( $entity.getGetFlavorDetailsStr("byTemplates").Flag == "true" || $entity.getGetFlavorDetailsStr("byTemplates").Flag == "optional")
    <wsdl:operation name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates">
        <soap:operation soapAction="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates" style="document" />
       <wsdl:input>
           <soap:body parts="parameters" use="literal" />
       </wsdl:input>
       <wsdl:output>
           <soap:body parts="parameters" use="literal" />
       </wsdl:output>
       <wsdl:fault name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException">
           <soap:fault name="get$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" use="literal" />
       </wsdl:fault>
		</wsdl:operation>
#end
