#if( $entity.getCreateFlavorDetailsStr("simple").Flag == "true" || $entity.getCreateFlavorDetailsStr("simple").Flag == "optional")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
    <wsdl:operation name="create$util.capitalize(${entity.getName()})ByValue">
        <wsdl:input name="create$util.capitalize(${entity.getName()})ByValueRequest" message="${prefix}:create$util.capitalize(${entity.getName()})ByValueRequest" />
        <wsdl:output name="create$util.capitalize(${entity.getName()})ByValueResponse" message="${prefix}:create$util.capitalize(${entity.getName()})ByValueResponse" />
        <wsdl:fault name="create$util.capitalize(${entity.getName()})ByValueException" message="${prefix}:create$util.capitalize(${entity.getName()})ByValueException" />
    </wsdl:operation>
#end
#if( $entity.getCreateFlavorDetailsStr("bulkAtomic").Flag == "true" || $entity.getCreateFlavorDetailsStr("bulkAtomic").Flag == "optional")
    <wsdl:operation name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValues">
        <wsdl:input name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" />
        <wsdl:output name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" />
        <wsdl:fault name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" />
    </wsdl:operation>
#end
#if( $entity.getCreateFlavorDetailsStr("bulkAtomicByKeys").Flag == "true" || $entity.getCreateFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional")
    <wsdl:operation name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys">
        <wsdl:input name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
        <wsdl:output name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
        <wsdl:fault name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:operation>
#end
#if( $entity.getCreateFlavorDetailsStr("bulkBestEffort").Flag == "true" || $entity.getCreateFlavorDetailsStr("bulkBestEffort").Flag == "optional")
    <wsdl:operation name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValues">
        <wsdl:input name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" message="${prefix}:tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" />
        <wsdl:output name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" message="${prefix}:tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" />
        <wsdl:fault name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" message="${prefix}:tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" />
    </wsdl:operation>
#end
#if( $entity.getCreateFlavorDetailsStr("bulkBestEffortByKeys").Flag == "true" || $entity.getCreateFlavorDetailsStr("bulkBestEffortByKeys").Flag == "optional")
    <wsdl:operation name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys">
        <wsdl:input name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" message="${prefix}:tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
        <wsdl:output name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" message="${prefix}:tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
        <wsdl:fault name="tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" message="${prefix}:tryCreate$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:operation>
#end
#if( $entity.getCreateFlavorDetailsStr("byAutoNaming").Flag == "true" || $entity.getCreateFlavorDetailsStr("byAutoNaming").Flag == "optional")
    <wsdl:operation name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByAutoNaming">
        <wsdl:input name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByAutoNamingRequest" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByAutoNamingRequest" />
        <wsdl:output name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByAutoNamingResponse" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByAutoNamingResponse" />
        <wsdl:fault name="create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByAutoNamingException" message="${prefix}:create$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByAutoNamingException" />
    </wsdl:operation>
#end
