<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/09/02 12:07:37 ystrot Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/tigerstripe/espace/core/tree.ecore" 
       class = "org.eclipse.tigerstripe.espace.core.tree.TreePackage"
       genModel = "model/tree.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/tigerstripe/espace/core.ecore" 
       class = "org.eclipse.tigerstripe.espace.core.CorePackage"
       genModel = "model/core.genmodel" /> 
  </extension>

</plugin>
