<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/02/22 22:34:03 edillon Exp $
-->

<plugin>
   <extension-point id="customArtifactMetadata" name="Custom Artifact Metadata" schema="schema/customArtifactMetadata.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "tigerstripe" 
       class = "org.eclipse.tigerstripe.metamodel.MetamodelPackage"
       genModel = "model/tigerstripe.genmodel" /> 
  </extension>

</plugin>
