<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/03/04 21:03:33 edillon Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "org.eclipse.tigerstripe.workbench.ui.instancediagram" 
       class = "org.eclipse.tigerstripe.workbench.ui.instancediagram.InstancediagramPackage"
       genModel = "model/tigerstripe.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "com.tigerstripesoftware.workbench.ui.instancediagram" 
       class = "org.eclipse.tigerstripe.workbench.ui.instancediagram.InstancediagramPackage"
       genModel = "model/tigerstripe.genmodel" /> 
  </extension>

</plugin>

