#if( $entity.getSetFlavorDetailsStr("simple").Flag == "true" || $entity.getSetFlavorDetailsStr("simple").Flag == "optional")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
    <wsdl:operation name="set$util.capitalize(${entity.getName()})ByValue">
        <wsdl:input name="set$util.capitalize(${entity.getName()})ByValueRequest" message="${prefix}:set$util.capitalize(${entity.getName()})ByValueRequest" />
        <wsdl:output name="set$util.capitalize(${entity.getName()})ByValueResponse" message="${prefix}:set$util.capitalize(${entity.getName()})ByValueResponse" />
        <wsdl:fault name="set$util.capitalize(${entity.getName()})ByValueException" message="${prefix}:set$util.capitalize(${entity.getName()})ByValueException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("bulkAtomic").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkAtomic").Flag == "optional")
    <wsdl:operation name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValues">
        <wsdl:input name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" />
        <wsdl:output name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" />
        <wsdl:fault name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("bulkAtomicByKeys").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional")
    <wsdl:operation name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys">
        <wsdl:input name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
        <wsdl:output name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
        <wsdl:fault name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplate").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplate").Flag == "optional")
    <wsdl:operation name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate">
        <wsdl:input name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" />
        <wsdl:output name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" />
        <wsdl:fault name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplates").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplates").Flag == "optional")
    <wsdl:operation name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates">
        <wsdl:input name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" />
        <wsdl:output name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" />
        <wsdl:fault name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" message="${prefix}:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("bulkBestEffort").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkBestEffort").Flag == "optional")
    <wsdl:operation name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValues">
        <wsdl:input name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" />
        <wsdl:output name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" />
        <wsdl:fault name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("bulkBestEffortByKeys").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkBestEffortByKeys").Flag == "optional")
    <wsdl:operation name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys">
        <wsdl:input name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
        <wsdl:output name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
        <wsdl:fault name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplateBestEffort").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplateBestEffort").Flag == "optional")
    <wsdl:operation name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate">
        <wsdl:input name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" />
        <wsdl:output name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" />
        <wsdl:fault name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" />
    </wsdl:operation>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplatesBestEffort").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplatesBestEffort").Flag == "optional")
    <wsdl:operation name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates">
        <wsdl:input name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" />
        <wsdl:output name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" />
        <wsdl:fault name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" message="${prefix}:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" />
    </wsdl:operation>
#end
