#if( $entity.getRemoveFlavorDetailsStr("simpleByKey").Flag == "true" || $entity.getRemoveFlavorDetailsStr("simpleByKey").Flag == "optional")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
    <wsdl:operation name="remove$util.capitalize(${entity.getName()})ByKey">
        <wsdl:input name="remove$util.capitalize(${entity.getName()})ByKeyRequest" message="${prefix}:remove$util.capitalize(${entity.getName()})ByKeyRequest" />
        <wsdl:output name="remove$util.capitalize(${entity.getName()})ByKeyResponse" message="${prefix}:remove$util.capitalize(${entity.getName()})ByKeyResponse" />
        <wsdl:fault name="remove$util.capitalize(${entity.getName()})ByKeyException" message="${prefix}:remove$util.capitalize(${entity.getName()})ByKeyException" />
    </wsdl:operation>
#end
#if( $entity.getRemoveFlavorDetailsStr("bulkAtomicByKeys").Flag == "true" || $entity.getRemoveFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional")
    <wsdl:operation name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys">
        <wsdl:input name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
        <wsdl:output name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
        <wsdl:fault name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:operation>
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplate").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplate").Flag == "optional")
    <wsdl:operation name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate">
        <wsdl:input name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" />
        <wsdl:output name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" />
        <wsdl:fault name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" />
    </wsdl:operation>
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplates").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplates").Flag == "optional")
    <wsdl:operation name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates">
        <wsdl:input name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" />
        <wsdl:output name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" />
        <wsdl:fault name="remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" message="${prefix}:remove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" />
    </wsdl:operation>
#end
#if( $entity.getRemoveFlavorDetailsStr("bulkBestEffortByKeys").Flag == "true" || $entity.getRemoveFlavorDetailsStr("bulkBestEffortByKeys").Flag == "optional")
    <wsdl:operation name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeys">
        <wsdl:input name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
        <wsdl:output name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
        <wsdl:fault name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:operation>
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplateBestEffort").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplateBestEffort").Flag == "optional")
    <wsdl:operation name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplate">
        <wsdl:input name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" />
        <wsdl:output name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" />
        <wsdl:fault name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" />
    </wsdl:operation>
#end
#if( $entity.getRemoveFlavorDetailsStr("byTemplatesBestEffort").Flag == "true" || $entity.getRemoveFlavorDetailsStr("byTemplatesBestEffort").Flag == "optional")
    <wsdl:operation name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplates">
        <wsdl:input name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" />
        <wsdl:output name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" />
        <wsdl:fault name="tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" message="${prefix}:tryRemove$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" />
    </wsdl:operation>
#end
