#if( $entity.getSetFlavorDetailsStr("simple").Flag == "true" || $entity.getSetFlavorDetailsStr("simple").Flag == "optional")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
    <wsdl:message name="set$util.capitalize(${entity.getName()})ByValueRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize(${entity.getName()})ByValueRequest" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize(${entity.getName()})ByValueResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize(${entity.getName()})ByValueResponse" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize(${entity.getName()})ByValueException">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize(${entity.getName()})ByValueException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("bulkAtomic").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkAtomic").Flag == "optional")
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("bulkAtomicByKeys").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkAtomicByKeys").Flag == "optional")
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplate").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplate").Flag == "optional")
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplates").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplates").Flag == "optional")
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" />
    </wsdl:message>
    <wsdl:message name="set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException">
        <wsdl:part name="parameters" element="$xsdNamespace:set$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("bulkBestEffort").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkBestEffort").Flag == "optional")
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesRequest" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesResponse" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByValuesException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("bulkBestEffortByKeys").Flag == "true" || $entity.getSetFlavorDetailsStr("bulkBestEffortByKeys").Flag == "optional")
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysRequest" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysResponse" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByKeysException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplateBestEffort").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplateBestEffort").Flag == "optional")
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateRequest" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateResponse" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplateException" />
    </wsdl:message>
#end
#if( $entity.getSetFlavorDetailsStr("byTemplatesBestEffort").Flag == "true" || $entity.getSetFlavorDetailsStr("byTemplatesBestEffort").Flag == "optional")
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesRequest" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesResponse" />
    </wsdl:message>
    <wsdl:message name="trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException">
        <wsdl:part name="parameters" element="$xsdNamespace:trySet$util.capitalize($ossjUtil.pluralisedForm(${entity.getName()}))ByTemplatesException" />
    </wsdl:message>
#end
