#parse("org/eclipse/tigerstripe/workbench/internal/core/model/persist/resources/header.vm")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#

/**
 * $xmlEncode.encode($artifact.Comment)
 *
 * @tigerstripe.association
 *		isAbstract = "$artifact.isAbstract()"
 *
 *## Take care of the stereotypes
#parse("org/eclipse/tigerstripe/workbench/internal/core/model/ossj/resources/artifactLevelStereotype.vm")
 * 
#foreach( $tag in $artifact.NonTigerstripeTags )
 * $tag
#end
 */
public abstract class $artifact.Name
#if( $artifact.hasExtends() )
  extends $artifact.Extends.FullyQualifiedName
#end {

#parse("org/eclipse/tigerstripe/workbench/internal/core/model/persist/resources/refComments.vm")

	/**
 * $!artifact.AEnd.Comment
	 *	@tigerstripe.association-aEnd
	 *    aggregation = "$artifact.AEnd.Aggregation.Label"
	 *    changeable = "$artifact.AEnd.Changeable.Label"
	 *    multiplicity = "$artifact.AEnd.Multiplicity.Label"
	 *    isOrdered = "$artifact.AEnd.isOrdered()"
	 *    isUnique = "$artifact.AEnd.isUnique()"
	 *    isNavigable = "$artifact.AEnd.isNavigable()"
	 *
 *
## Take care of the stereotypes
#foreach( $stereotype in $artifact.AEnd.getStereotypeInstances() )
 * @tigerstripe.stereotype st.name = "$stereotype.Name"
#if ($stereotype.getCharacterizingStereotype())
#foreach( $stAttr in $stereotype.getCharacterizingStereotype().getAttributes() ) 
#if ( $stAttr.isArray() )
 *	   $stAttr.Name = "$stereotype.getStringifiedAttributeValues($stAttr)"	
	#else
 *     $stAttr.Name = "$xmlEncode.encode($stereotype.getAttributeValue($stAttr))"
#end
#end
#else
 ## This is an Unresolved stereotype - so just use what we found
#foreach( $stAttr in $stereotype.Attributes )
 *     $stAttr = "$xmlEncode.encode($stereotype.getAttributeValue($stAttr))"
#end
#end
#end
     * 
	 */	
	$utils.getVisibilityAsString( $artifact.AEnd ) $artifact.AEnd.Type.FullyQualifiedName $artifact.AEnd.Name = null;
	
	/**
 * $!artifact.ZEnd.Comment
	 *	@tigerstripe.association-zEnd
	 *    aggregation = "$artifact.ZEnd.Aggregation.Label"
	 *    changeable = "$artifact.ZEnd.Changeable.Label"
	 *    multiplicity = "$artifact.ZEnd.Multiplicity.Label"
	 *    isOrdered = "$artifact.ZEnd.isOrdered()"
	 *    isUnique = "$artifact.ZEnd.isUnique()"
	 *    isNavigable = "$artifact.ZEnd.isNavigable()"
	 *
 *
## Take care of the stereotypes
#foreach( $stereotype in $artifact.ZEnd.getStereotypeInstances() )
 * @tigerstripe.stereotype st.name = "$stereotype.Name"
#if ($stereotype.getCharacterizingStereotype())
#foreach( $stAttr in $stereotype.getCharacterizingStereotype().getAttributes() ) 
#if ( $stAttr.isArray() )
 *	   $stAttr.Name = "$stereotype.getStringifiedAttributeValues($stAttr)"	
	#else
 *     $stAttr.Name = "$xmlEncode.encode($stereotype.getAttributeValue($stAttr))"
#end
#end
#else
 ## This is an Unresolved stereotype - so just use what we found
#foreach( $stAttr in $stereotype.Attributes )
 *     $stAttr = "$xmlEncode.encode($stereotype.getAttributeValue($stAttr))"
#end
#end
#end
 * 
	 */	
	$utils.getVisibilityAsString( $artifact.ZEnd ) $artifact.ZEnd.Type.FullyQualifiedName $artifact.ZEnd.Name = null;
	
}