<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2008/08/21 10:04:40 jworrell Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://org/eclipse/tigerstripe/annotation/testAnnots.ecore" 
       class = "org.eclipse.tigerstripe.annotation.setif.SomeTestAnnots.SomeTestAnnotsPackage"
       genModel = "model/testAnnots.genmodel" />
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           id="org.eclipse.tigerstripe.annotation.setif.TestAnnot1"
           name="TestAnnot1"
           epackage-uri="http://org/eclipse/tigerstripe/annotation/testAnnots.ecore"
           description="TestAnnot1..."
           eclass="TestAnnot1">
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           id="org.eclipse.tigerstripe.annotation.setif.TestAnnot2"
           name="TestAnnot2"
           epackage-uri="http://org/eclipse/tigerstripe/annotation/testAnnots.ecore"
           description="TestAnnot2..."
           eclass="TestAnnot2">
        <target
              type="org.eclipse.tigerstripe.workbench.model.deprecated_.IManagedEntityArtifact"
              unique="true">
        </target>
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           id="org.eclipse.tigerstripe.annotation.setif.TestAnnot3"
           name="TestAnnot3"
           epackage-uri="http://org/eclipse/tigerstripe/annotation/testAnnots.ecore"
           description="TestAnnot3..."
           eclass="TestAnnot3">
     </definition>
  </extension>
  <extension
        point="org.eclipse.tigerstripe.workbench.base.creationPatterns">
     <patternDefinition
           patternFile="resources/patterns/irdEntity/irdEntity.xml">
     </patternDefinition>
     <patternDefinition
           patternFile="resources/patterns/irdAssoc/irdAssoc.xml">
     </patternDefinition>
     <patternDefinition
           patternFile="resources/patterns/shouldNotAppear/shouldNotAppear.xml">
     </patternDefinition>
     <disabledPattern
           patternName="com.test.shouldNotAppear">
     </disabledPattern>
  </extension>

</plugin>
