#if ($method.isVoid() == true)
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
#set ($return = "void")
#set ($returnPlural = "void")
#set ($returnIterator = "void")
#elseif ($method.ReturnType.isEntityType())
#if ($method.isReturnRefByValue())
#set ($return = "$ossjUtil.interfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName")
#set ($returnPlural = "$ossjUtil.valueInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName[]")
#set ($returnIterator = "$ossjUtil.valueIteratorInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName[]")
#elseif ($method.isReturnRefByKey())
#set ($return = "$ossjUtil.keyInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName")
#set ($returnPlural = "$ossjUtil.keyInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName[]")
#set ($returnIterator = "$ossjUtil.keyResultIteratorInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName[]")
#elseif ($method.isReturnRefByKeyResult())
#set ($return = "$ossjUtil.keyResultInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName")
#set ($returnPlural = "$ossjUtil.keyResultInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName[]")
#set ($returnIterator = "$ossjUtil.keyResultIteratorInterfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName[]")
#end
#elseif ($method.ReturnType.isArtifact())
#set ($return = "$ossjUtil.interfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName")
#set ($returnPlural = "$ossjUtil.interfaceOf($method.ReturnType.FullyQualifiedName).FullyQualifiedName[]")
#else
#set ($return = "$method.ReturnType.FullyQualifiedName")
#set ($returnPlural = "$method.ReturnType.FullyQualifiedName[]")
#end