#set ($fName = $field.Name)
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
#set ($isOrGet = "get")
#set ($needAttributeGetter = "false")
#set ($getComment = " *")
#set ($setComment = " * @param value - the value to use to set the $field.Name attribute.")
##
##
#if (($field.Type.FullyQualifiedName == "boolean") && ($field.Type.Dimensions != "[]" ) ) 
#set ($isOrGet = "is")
#else
#set ($isOrGet = "get")
#end
##
##
#if ($field.Type.isEnum())
#set ($fType = "${field.Type.BaseType.FullyQualifiedName}${field.Type.Dimensions}")
#set ($toGet = "")
#set ($getComment = " * @ossj:enumerationfield class=$ossjUtil.interfaceOf($field.Type.FullyQualifiedName).FullyQualifiedName")
#set ($setComment = " * @param value -state $fType as given by one of the <CODE>$ossjUtil.interfaceOf($field.Type.FullyQualifiedName).Name</CODE> interface constant")
#elseif ($field.Type.isDatatype())
#set ($fType = "$ossjUtil.interfaceOf($field.Type.FullyQualifiedName).FullyQualifiedName$field.Type.Dimensions")
#set ($needAttributeGetter = "true")
#elseif ($field.Type.isEntityType())
#set ($needAttributeGetter = "true")
#if ($field.isRefByValue())
#set ($fType = "$ossjUtil.interfaceOf($field.Type.FullyQualifiedName).FullyQualifiedName$field.Type.Dimensions")
#elseif ($field.isRefByKey())
#set ($fType = "$ossjUtil.keyInterfaceOf($field.Type.FullyQualifiedName).FullyQualifiedName$field.Type.Dimensions")
#elseif ($field.isRefByKeyResult())
#set ($fType = "$ossjUtil.keyResultInterfaceOf($field.Type.FullyQualifiedName).FullyQualifiedName$field.Type.Dimensions")
#end
#else 		
#set ($fType = "$field.Type.FullyQualifiedName$field.Type.Dimensions")
#end
##
/**
 *
 * Attribute getter for $fName.
 *
 * Automatically created by Tigerstripe workbench from user defined attribute:
 *        ${artifact.Name}.${field.Name}
 *
$ossjUtil.formatComment($field.Comment)
$getComment
 *
 * @return the value of the $fName field.
## This exception is Not required for anything that doesn't extend AttributeAccess - VP 05/01/06
## That really only means Datatype doesn't need it.
#if ( ! $artifact.isDatatypeArtifact())
 * @throws java.lang.IllegalStateException - if the attribute is not populated.
#end
#if($field.isOptional())
 * @throws javax.oss.OssUnsupportedAttributeException - if the attribute is not supported.
#end
 *
 */
#if ((!$artifact.isDatatypeArtifact()) || $field.isOptional())
## ie if we have ANY exceptions to throw
#set ($end = "")
#else
#set ($end = ";")
#end
        public $fType ${isOrGet}$util.capitalize($fName)()$end
#if (!$artifact.isDatatypeArtifact() &&  $field.isOptional())
            throws  java.lang.IllegalStateException
            , javax.oss.OssUnsupportedAttributeException;
#elseif ($field.isOptional())
            throws javax.oss.OssUnsupportedAttributeException;
#elseif (!$artifact.isDatatypeArtifact())
            throws java.lang.IllegalStateException;
#end

## Only need this thing for those attributes whose types are "designed to be extended"
## At present (for this version - make that all of them that are datatype or Entity)
## Should really check the flag as well.
#if ($needAttributeGetter == "true" && !$field.isOptional())
#if (!$field.Type.Artifact.IStandardSpecifics.isSessionFactoryMethods())
/**
 *
 * Attribute Type getter for $fName.
 *
 * @return the valid set of types for the $fName field.
 *
 */
       public String[] attributeTypeFor$util.capitalize($fName)();
#end
#end

#if (!$field.ReadOnly)
/**
 * Attribute setter for $fName.
 *
$ossjUtil.formatComment($field.Comment)
$setComment
 * @throws java.lang.IllegalArgumentException
 *         Thrown to report that a bad argument was provided to the method.
#if($field.isOptional())
 * @throws javax.oss.OssUnsupportedAttributeException - if the attribute is not supported.
#end
 *
 */
    public void set$util.capitalize($fName)($fType value)
        throws #if($field.isOptional()) javax.oss.OssUnsupportedAttributeException,
        #end
java.lang.IllegalArgumentException;
#end