#parse("org/eclipse/tigerstripe/repository/metamodel/pojo/writer/resources/header.vm")
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#

/**
 * $xmlEncode.encode($artifact.Comment)
 *
 * @tigerstripe.exception
 *		isAbstract = "$artifact.isAbstract()"
 *		implements = "$artifact.getImplementedArtifactsAsStr()"
 *
 *## Take care of the stereotypes
#parse("org/eclipse/tigerstripe/repository/metamodel/pojo/writer/resources/artifactLevelStereotype.vm")
 * 
#foreach( $tag in $artifact.NonTigerstripeTags )
 * $tag
#end
 */
public abstract class $artifact.Name
#if( $artifact.hasExtends() )
  extends $artifact.ExtendedArtifact.FullyQualifiedName
#else
  extends java.lang.Exception
#end {
	
	// not important since this class will never be serialized.
	private static final long serialVersionUID = -1L;

#parse("org/eclipse/tigerstripe/repository/metamodel/pojo/writer/resources/refComments.vm")

#parse("org/eclipse/tigerstripe/repository/metamodel/pojo/writer/resources/field.vm")

}