<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
		<provider
			id="org.eclipse.tigerstripe.annotation.java.provider"
			class="org.eclipse.tigerstripe.annotation.java.JavaAnnotationProvider"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.core.IJavaElement"
            class="org.eclipse.tigerstripe.annotation.java.JavaAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.annotation.core.IAnnotable"/>
      </factory>
   </extension>

</plugin>
