<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
		<provider
			id="org.eclipse.tigerstripe.annotation.tsmodel.provider"
			class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAnnotationProvider"
			targetDescription="Model Component"
			type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent">
		  <delegate type="org.eclipse.jdt.core.IJavaElement"/>
		</provider>
   </extension>
</plugin>
