<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
		<provider
			id="org.eclipse.tigerstripe.annotation.tsmodel.provider.model"
			class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAnnotationProvider"
			targetDescription="Tigerstripe Model Component"
			type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent">
		  <delegate type="org.eclipse.jdt.core.IJavaElement"/>
		</provider>
   </extension>
   <extension
			point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
		<provider
			id="org.eclipse.tigerstripe.annotation.tsmodel.provider.model"
			class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAnnotationProvider"
			targetDescription="Tigerstripe Method Argument"
			type="org.eclipse.tigerstripe.workbench.model.deprecated_.IMethod$IArgument">
		  <delegate type="org.eclipse.jdt.core.IJavaElement"/>
		</provider>
   </extension>
	<extension
			point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
		<provider
			id="org.eclipse.tigerstripe.annotation.tsmodel.provider.project"
			class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAnnotationProvider"
			targetDescription="Tigerstripe Project"
			type="org.eclipse.tigerstripe.workbench.project.IAbstractTigerstripeProject">
		  <delegate type="org.eclipse.jdt.core.IJavaProject"/>
		</provider>
   </extension>
	<extension
			point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
		<provider
			id="org.eclipse.tigerstripe.annotation.tsmodel.provider.diagram"
			class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAnnotationProvider"
			targetDescription="Tigerstripe Model Component"
			type="org.eclipse.tigerstripe.workbench.diagram.IDiagram">
		  <delegate type="org.eclipse.core.resources.IResource"/>
		</provider>
   </extension>
</plugin>
