<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
		<provider
			id="org.eclipse.tigerstripe.annotation.tsmodel.provider"
			class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAnnotationProvider"
			targetDescription="Model Component"
			type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent"
            class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.annotation.core.IAnnotable"/>
      </factory>
      <factory
            adaptableType="org.eclipse.jdt.core.IJavaElement"
            class="org.eclipse.tigerstripe.annotation.tsmodel.TSModelAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.annotation.core.IAnnotable"/>
      </factory>
   </extension>

</plugin>
