<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="explorerMenuContribution" name="Tigerstripe Explorer Menu Contribution" schema="schema/explorerMenuContribution.exsd"/>
   <extension-point id="closedDiagramSynchronizer" name="Closed Diagram Synchronizer" schema="schema/closedDiagramSynchronizer.exsd"/>
   <extension-point id="modelFileContentReader" name="Model Specific Content Reader" schema="schema/modelFileContentReader.exsd"/>
   <extension-point id="diagramAuditor" name="Diagram Auditor" schema="schema/diagramAuditor.exsd"/>
   <extension-point id="labelDecorator" name="Label Decorator" schema="schema/labelDecorator.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.descriptor.DescriptorEditor"
            default="true"
            filenames="tigerstripe.xml"
            icon="src/icons/ts_logo.gif.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.descriptorEditor"
            name="Tigerstripe Descriptor Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.entity.EntityArtifactEditor"
            default="false"
            icon="src/icons/new/entity.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.entityEditor"
            name="Tigerstripe OSS/J Entity Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.exception.ExceptionArtifactEditor"
            default="false"
            icon="src/icons/new/exception.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.exceptionEditor"
            name="Tigerstripe OSS/J Exception Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.query.QueryArtifactEditor"
            default="false"
            icon="src/icons/new/query.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.queryEditor"
            name="Tigerstripe OSS/J Query Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.event.EventArtifactEditor"
            default="false"
            icon="src/icons/new/event.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.eventEditor"
            name="Tigerstripe OSS/J Event Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.datatype.DatatypeArtifactEditor"
            default="false"
            icon="src/icons/new/datatype.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.datatypeEditor"
            name="Tigerstripe OSS/J Datatype Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.session.SessionArtifactEditor"
            default="false"
            icon="src/icons/new/session.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.sessionEditor"
            name="Tigerstripe OSS/J Session Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.enumeration.EnumArtifactEditor"
            default="false"
            icon="src/icons/new/enum.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.enumEditor"
            name="Tigerstripe OSS/J Enum Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.updateProcedure.UpdateProcedureArtifactEditor"
            default="false"
            icon="src/icons/new/updateProc.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.updateProcedureEditor"
            name="Tigerstripe OSS/J Update Procedure Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.pluginDescriptor.PluginDescriptorEditor"
            default="true"
            filenames="ts-plugin.xml"
            icon="src/icons/plugin.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.pluginDescriptorEditor"
            name="Tigerstripe Plugin Descriptor Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.generator.m0Descriptor.M0DescriptorEditor"
            default="true"
            filenames="m0-generator.xml"
            icon="src/icons/plugin.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.m0DescriptorEditor"
            name="Tigerstripe M0-Level Generator Descriptor Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.profile.ProfileEditor"
            default="true"
            extensions="wbp"
            icon="src/icons/profile.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.profileEditor"
            name="Workbench Profile Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.association.AssociationArtifactEditor"
            default="false"
            icon="src/icons/new/association.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.associationEditor"
            name="Tigerstripe UML Association Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.dependency.DependencyArtifactEditor"
            default="false"
            icon="src/icons/new/dependency.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.dependencyEditor"
            name="Tigerstripe UML Dependency Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.associationClass.AssociationClassArtifactEditor"
            default="false"
            icon="src/icons/new/associationClass.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.associationClassEditor"
            name="Tigerstripe UML Association Class Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.segment.SegmentEditor"
            default="true"
            extensions="wfc"
            icon="src/icons/segment.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.segmentEditor"
            name="Tigerstripe Facet Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.useCase.UseCaseEditor"
            default="true"
            extensions="ucd"
            icon="src/icons/useCase.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.useCaseEditor"
            name="Tigerstripe Contract Use Case Editor"/>
      <editor
            class="org.eclipse.tigerstripe.workbench.ui.internal.editors.artifacts.packageArtifact.PackageArtifactEditor"
            default="false"
            icon="src/icons/archive/package.gif"
            id="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.packageEditor"
            name="Tigerstripe Package Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Tigerstripe"
            id="org.eclipse.tigerstripe.eclipse">
      </category>
      <wizard
            category="org.eclipse.tigerstripe.eclipse"
            class="org.eclipse.tigerstripe.workbench.ui.internal.wizards.project.NewProjectWizard"
            finalPerspective="org.eclipse.tigerstripe.community.tigerstripePerspective"
            icon="src/icons/new_project.gif"
            id="org.eclipse.tigerstripe.eclipse.wizards.NewProjectWizard"
            name="Tigerstripe Project"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.tigerstripe.eclipse"
            class="org.eclipse.tigerstripe.workbench.ui.internal.wizards.pluggablePlugin.NewPluginProjectWizard"
            finalPerspective="org.eclipse.tigerstripe.community.tigerstripePerspective"
            icon="src/icons/plugin.gif"
            id="org.eclipse.tigerstripe.community.wizard1"
            name="Tigerstripe Plugin Project"
            project="true"/>
      <wizard
            category="org.eclipse.tigerstripe.eclipse"
            class="org.eclipse.tigerstripe.workbench.ui.internal.wizards.m0Generator.NewM0GeneratorProjectWizard"
            finalPerspective="org.eclipse.tigerstripe.community.tigerstripePerspective"
            icon="src/icons/plugin.gif"
            id="org.eclipse.tigerstripe.workbench.ui.wizards.newM0GeneratorWizard"
            name="Tigerstripe M0-Level Generator Project"
            project="true"/>
      <wizard
            category="org.eclipse.tigerstripe.eclipse"
            class="org.eclipse.tigerstripe.workbench.ui.internal.wizards.profile.NewWorkbenchProfileWizard"
            finalPerspective="org.eclipse.tigerstripe.community.tigerstripePerspective"
            icon="src/icons/profile.gif"
            id="org.eclipse.tigerstripe.eclipse.wizards.NewProfileWizard"
            name="Workbench Profile"/>
      <wizard
            category="org.eclipse.tigerstripe.eclipse"
            class="org.eclipse.tigerstripe.workbench.ui.internal.wizards.segment.NewContractSegmentWizard"
            finalPerspective="org.eclipse.tigerstripe.community.tigerstripePerspective"
            icon="src/icons/segment.gif"
            id="org.eclipse.tigerstripe.eclipse.wizards.NewSegmentWizard"
            name="Facet"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.tigerstripe.community.tigerstripePerspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.tigerstripe.workbench.ui.internal.preferences.TopLevelPreferencePage"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            name="Tigerstripe"/>
      <page
            category="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            class="org.eclipse.tigerstripe.workbench.ui.internal.preferences.GeneralPreferencePage"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.GeneralPreferencePage"
            name="General"/>
      <page
            category="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            class="org.eclipse.tigerstripe.workbench.ui.internal.preferences.modelImport.ImportPreferencePage"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.ModelImportPreferencePage"
            name="Model Import"/>
      <page
            category="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            class="org.eclipse.tigerstripe.workbench.ui.internal.preferences.GenerationPreferencePage"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.GenerationPreferencePage"
            name="Generation"/>
      <page
            category="org.eclipse.tigerstripe.ui.eclipse.preferences.TopLevelPreferences"
            class="org.eclipse.tigerstripe.workbench.ui.internal.preferences.ExplorerPreferencePage"
            id="org.eclipse.tigerstripe.ui.eclipse.preferences.ExplorerPreferencePage"
            name="Explorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tigerstripe.workbench.views.category"
            name="Tigerstripe"/>
      <view
            allowMultiple="false"
            category="org.eclipse.tigerstripe.workbench.views.category"
            class="org.eclipse.tigerstripe.workbench.ui.internal.views.explorerview.TigerstripeExplorerPart"
            icon="src/icons/ts_logo.gif.gif"
            id="org.eclipse.tigerstripe.workbench.views.artifactExplorerViewNew"
            name="Tigerstripe Explorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tigerstripe.workbench.ui.internal.perspective.TigerstripePerspectiveFactory"
            icon="src/icons/ts_logo.gif.gif"
            id="org.eclipse.tigerstripe.community.tigerstripePerspective"
            name="Tigerstripe"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="src/icons/tigerstripe-nature.gif"
            id="org.eclipse.tigerstripe.community.image1"
            natureId="org.eclipse.tigerstripe.workbench.pluggablePluginProjectAuditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.tigerstripe.importWizardCategory"
            name="Tigerstripe"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.tigerstripe.exportWizardCategory"
            name="Tigerstripe"/>
      <wizard
            category="org.eclipse.tigerstripe.exportWizardCategory"
            class="org.eclipse.tigerstripe.workbench.ui.internal.gmf.export.wizards.AllDiagramsExportWizard"
            icon="src/icons/archive/importExport.gif.gif"
            id="org.eclipse.tigerstripe.workbench.ui.base.gmf.export.allDiagrams"
            name="All Diagrams">
         <description>
            Export all diagrams in a Tigerstripe Model project to pictures.
         </description>
      </wizard>
      <wizard
            category="org.eclipse.tigerstripe.exportWizardCategory"
            class="org.eclipse.tigerstripe.workbench.ui.internal.export.ModuleExportWizard"
            icon="src/icons/archive/importExport.gif.gif"
            id="org.eclipse.tigerstripe.workbench.ui.base.moduleExportWizard"
            name="Tigerstripe Module">
         <description>
            Export Tigerstripe model project to read-only module.
         </description>
      </wizard>
      <wizard
            category="org.eclipse.tigerstripe.exportWizardCategory"
            class="org.eclipse.tigerstripe.workbench.ui.internal.wizards.export.model.facet.FacetExportWizard"
            icon="src/icons/archive/importExport.gif.gif"
            id="org.eclipse.tigerstripe.workbench.ui.base.facetmodelwizard"
            name="Facet Scoped Model">
         <description>
            Export Tigerstripe sub-model as
         </description>
      </wizard>
   </extension>
      <extension
         point="org.eclipse.tigerstripe.workbench.ui.base.explorerMenuContribution">
      <contribution
            actionClass="org.eclipse.tigerstripe.workbench.ui.internal.actions.OpenNewContractSegmentWizardAction"
            name="Open Facet Action"/>
   </extension>
      <extension
            point="org.eclipse.ui.popupMenus">
         <objectContribution
               adaptable="false"
               id="org.eclipse.tigerstripe.workbench.ui.base.packagedPlugin.popupMenu"
               nameFilter="*.zip"
               objectClass="org.eclipse.core.resources.IFile">
            <menu
                  id="org.eclipse.tigerstripe.workbench.ui.base.zippedPluginPopupMenu"
                  label="Plugin"
                  path="group.build">
               <groupMarker name="content"/>
               <separator name="group.build"/>
            </menu>
            <action
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.DeployZippedPluginActionDelegate"
                  id="org.eclipse.tigerstripe.workbench.ui.base.deployZip"
                  label="Deploy"
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.zippedPluginPopupMenu/content"/>
         </objectContribution>
         <objectContribution
               adaptable="false"
               id="org.eclipse.tigerstripe.workbench.ui.base.facet.popupMenu"
               nameFilter="*.wfc"
               objectClass="org.eclipse.core.resources.IFile">
            <menu
                  id="org.eclipse.tigerstripe.workbench.ui.base.facet.popupSubMenu"
                  label="Facets"
                  path="group.build">
               <groupMarker name="content"/>
               <separator name="group.build"/>
            </menu>
            <action
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.MarkFacetAsActiveActionDelegate"
                  enablesFor="?"
                  id="org.eclipse.tigerstripe.workbench.ui.base.markFacetAsActive"
                  label="Mark as Active"
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.facet.popupSubMenu/content"/>
            <action
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.ResetActiveFacetActionDelegate"
                  enablesFor="?"
                  id="org.eclipse.tigerstripe.workbench.ui.base.resetActiveFacet"
                  label="Reset Active Facet"
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.facet.popupSubMenu/content"/>
         </objectContribution>
         <objectContribution
               adaptable="true"
               id="org.eclipse.tigerstripe.workbench.ui.base.tigerstripePluginPopupMenu"
               objectClass="org.eclipse.tigerstripe.workbench.project.ITigerstripeGeneratorProject">
            <menu
                  id="org.eclipse.tigerstripe.workbench.ui.base.tigerstripePluginSubMenu"
                  label="Plugin"
                  path="group.build">
               <groupMarker name="content"/>
               <separator name="group.build"/>
            </menu>
            <action
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.UnDeployPluginActionDelegate"
                  id="org.eclipse.tigerstripe.workbench.ui.base.pluginDescriptor.undeployAction"
                  label="Undeploy"
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.tigerstripePluginSubMenu/content"
                  tooltip="Undeploy this plugin."/>
            <action 	
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.PacakgePluginActionDelegate"
                  id="org.eclipse.tigerstripe.workbench.ui.base.pluginDescriptor.packageAction"
                  label="Package..."
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.tigerstripePluginSubMenu/content"
                  tooltip="Package and deploy this Tigerstripe plugin"/>
            <action
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.DeployPluginActionDelegate"
                  id="org.eclipse.tigerstripe.workbench.ui.base.pluginDescriptor.deployAction"
                  label="Deploy"
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.tigerstripePluginSubMenu/content"
                  tooltip="Package and deploy this Tigerstripe plugin"/>
         </objectContribution>
         <objectContribution
               adaptable="false"
               id="org.eclipse.tigerstripe.workbench.ui.base.profilePopup"
               nameFilter="*.wbp"
               objectClass="org.eclipse.core.resources.IFile">
            <menu
                  id="org.eclipse.tigerstripe.workbench.ui.base.profileSubMenu"
                  label="Profile"
                  path="group.build">
               <groupMarker name="content"/>
               <separator name="group.build"/>
            </menu>
            <action
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.DeployProfileActionDelegate"
                  id="org.eclipse.tigerstripe.workbench.ui.base.profile.deployaction"
                  label="Set as active profile."
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.profileSubMenu/content"
                  tooltip="Make this profile active."/>
         </objectContribution>
         <objectContribution
               adaptable="false"
               id="org.eclipse.tigerstripe.workbench.ui.base.diagramPopup"
               objectClass="java.lang.Object">
            <menu
                  id="org.eclipse.tigerstripe.workbench.ui.base.diagramMenu"
                  label="Diagrams"
                  path="group.build">
               <groupMarker name="content"/>
               <separator name="group.build"/>
            </menu>
            <action
                  class="org.eclipse.tigerstripe.workbench.ui.internal.actions.AuditDiagramsActionDelegate"
                  id="org.eclipse.tigerstripe.workbench.ui.base.diagrams.audit"
                  label="Audit Diagrams"
                  menubarPath="org.eclipse.tigerstripe.workbench.ui.base.diagramMenu/content"
                  tooltip="Create an audit report on diagrams">
            </action>
            <visibility>
               <or>
                  <objectClass name="org.eclipse.core.resources.IResource"/>
                  <objectClass name="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart"/>
                  <objectClass name="org.eclipse.jdt.core.IJavaElement"/>
               </or>
            </visibility>
         </objectContribution>
      </extension>
      <extension
            id="tigerstripe.logicalExplorerNode.modelProvider"
            name="Tigerstripe Explorer Node"
            point="org.eclipse.core.resources.modelProviders">
         <modelProvider class="org.eclipse.tigerstripe.workbench.ui.internal.views.explorerview.abstraction.LogicalExplorerNodeModelProvider"/>
      </extension>
      <extension
            id="tigerstripe.search"
            name="tigerstripe.search"
            point="org.eclipse.search.searchPages">
         <page
               canSearchEnclosingProjects="true"
               class="org.eclipse.tigerstripe.workbench.ui.internal.search.TigerstripeSearchPage"
               id="org.eclipse.tigerstripe.ui.eclipse.search.tigerstripeSearch"
               label="Tigerstripe Search"
               showScopeSection="true">
         </page>
      </extension>
      <extension
            point="org.eclipse.search.searchResultViewPages">
         <viewPage
               class="org.eclipse.tigerstripe.workbench.ui.internal.search.TigerstripeSearchResultPage"
               id="org.eclipse.tigerstripe.workbench.ui.base.tigerstripeSearchView"
               label="Tigerstripe result"
               searchResultClass="org.eclipse.tigerstripe.workbench.ui.internal.search.TigerstripeSearchResult">
         </viewPage>
      </extension>
      <extension
            id="m0GeneratorProject"
            name="Tigerstripe M0-Level Generator"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="org.eclipse.tigerstripe.workbench.ui.internal.natures.TigerstripeM0GeneratorNature">
            </run>
         </runtime>
      </extension>
      
  <extension
         name="Tigerstripe Diagram Adapter Factory"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.tigerstripe.workbench.ui.internal.views.explorerview.abstraction.LogicalExplorerNodeFactory">
         <adapter
               type="org.eclipse.tigerstripe.workbench.diagram.IDiagram">
         </adapter>
         </factory>
         </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           description="Top Level Tigerstripe Commands"
           id="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           name="Tigerstripe">
     </category>
     <command
           category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           defaultHandler="org.eclipse.tigerstripe.workbench.ui.internal.handlers.TigerstripeCommandHandler"
           description="Open the Tigerstripe plugins dialog"
           id="org.eclipse.tigerstripe.workbench.ui.base.plugins"
           name="Plugins">
     </command>
     <command
           category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           defaultHandler="org.eclipse.tigerstripe.workbench.ui.internal.handlers.TigerstripeCommandHandler"
           description="Open the Tigerstripe active profile dialog"
           id="org.eclipse.tigerstripe.workbench.ui.base.profile"
           name="Profile">
     </command>
     <command
           category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           description="Generate the current project"
           id="org.eclipse.tigerstripe.workbench.ui.base.generate"
           name="Generate">
     </command>
     <command
           category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           description="Pattern Based Create"
           id="org.eclipse.tigerstripe.workbench.ui.base.patternBasedCreate"
           name="Pattern Based Create">
        <commandParameter
              id="org.eclipse.tigerstripe.workbench.ui.base.patternName"
              name="patternName"
              optional="false">
        </commandParameter>
     </command>
     <command
           category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           description="Pattern Based Project Create"
           id="org.eclipse.tigerstripe.workbench.ui.base.patternBasedProjectCreate"
           name="Pattern Based Project Create">
        <commandParameter
              id="org.eclipse.tigerstripe.workbench.ui.base.patternName"
              name="patternName"
              optional="false">
        </commandParameter>
     </command>
     <command
           category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
           description="Facet Based Model Export"
           id="org.eclipse.tigerstripe.workbench.ui.menu.export.model.facet"
           name="Facet Based Export">
     </command>
     <category
           id="org.eclipse.tigerstripe.workbench.category.refactoring"
           name="Tigerstripe Refactoring Category">
     </category>
     <command
           categoryId="org.eclipse.tigerstripe.workbench.category.refactoring"
           defaultHandler="org.eclipse.tigerstripe.workbench.ui.internal.handlers.RefactoringRenameHandler"
           description="Rename a Tigerstripe model artifact"
           id="org.eclipse.tigerstripe.workbench.ui.base.refactorRename"
           name="Rename">
     </command>
     <command
           categoryId="org.eclipse.tigerstripe.workbench.category.refactoring"
           defaultHandler="org.eclipse.tigerstripe.workbench.ui.internal.handlers.RefactoringMoveHandler"
           description="Move a Tigerstripe model artifact"
           id="org.eclipse.tigerstripe.workbench.ui.base.refactorMove"
           name="Move">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.ui.main.menu">
        <menu
              id="org.eclipse.tigerstripe.workbench.ui.menu.main"
              label="Tigerstripe">
           <menu
                 id="org.eclipse.tigerstripe.workbench.ui.menu.new"
                 label="New...">
           </menu>
           <menu
                 id="org.eclipse.tigerstripe.workbench.ui.menu.import"
                 label="Import...">
           </menu>
           <menu
                 id="org.eclipse.tigerstripe.workbench.ui.menu.export"
                 label="Export...">
              <menu
                    id="org.eclipse.tigerstripe.workbench.ui.menu.export.model"
                    label="Model">
                 <command
                       commandId="org.eclipse.tigerstripe.workbench.ui.menu.export.model.facet"
                       style="push">
                 </command>
              </menu>
           </menu>
           <separator
                 name="org.eclipse.tigerstripe.workbench.ui.menu.seperator1"
                 visible="true">
           </separator>
           <command
                 commandId="org.eclipse.tigerstripe.workbench.ui.base.generate"
                 disabledIcon="src/icons/run_tigerstripe_gs.gif"
                 icon="src/icons/run_tigerstripe.gif"
                 label="Generate"
                 style="push">
           </command>
           <separator
                 name="org.eclipse.tigerstripe.workbench.ui.menu.separator2"
                 visible="true">
           </separator>
           <command
                 commandId="org.eclipse.tigerstripe.workbench.ui.base.profile"
                 icon="src/icons/profile.gif"
                 id="org.eclipse.tigerstripe.workbench.ui.menu.profile"
                 label="Active Profile Details..."
                 style="push">
           </command>
           <command
                 commandId="org.eclipse.tigerstripe.workbench.ui.base.plugins"
                 icon="src/icons/plugin.gif"
                 id="org.eclipse.tigerstripe.workbench.ui.menu.plugins"
                 label="Plugins..."
                 style="push">
           </command>
           <separator
                 name="org.eclipse.tigerstripe.workbench.ui.main.additions"
                 visible="true">
           </separator>
        </menu>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="org.eclipse.tigerstripe.workbench.ui.base.toolbar">
           <separator
                 name="org.eclipse.tigerstripe.workbench.ui.base.start"
                 visible="false">
           </separator>
           <command
                 commandId="org.eclipse.tigerstripe.workbench.ui.base.generate"
                 disabledIcon="src/icons/run_tigerstripe_gs.gif"
                 icon="src/icons/run_tigerstripe.gif"
                 id="org.eclipse.tigerstripe.workbench.ui.toolbar.generate"
                 label="Generate"
                 style="push">
           </command>
        </toolbar>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=group.build">
        <menu
              label="Refactor Model">
           <command
                 commandId="org.eclipse.tigerstripe.workbench.ui.base.refactorRename"
                 label="Rename..."
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <count
                       value="1">
                 </count>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.tigerstripe.workbench.ui.base.refactorMove"
                 label="Move..."
                 style="push">
           </command>
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate>
                    <and>
                       <instanceof
                             value="org.eclipse.jdt.core.IJavaElement">
                       </instanceof>
                       <adapt
                             type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
                       </adapt>
                    </and>
                 </iterate>
              </with>
           </visibleWhen>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.TSProjectSelected">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.core.resources.projectNature"
                    value="org.eclipse.tigerstripe.workbench.base.tigerstripeProject">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.TSEditorsActive">
        <or>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.entityEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.exceptionEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.queryEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.eventEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.datatypeEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.sessionEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.associationEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.associationClassEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.dependencyEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.enumEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.updateProcedureEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.ossj.packageEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.eclipse.editors.descriptorEditor">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.visualeditor.diagram.part.TigerstripeDiagramEditorID">
              </equals>
           </with>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.tigerstripe.workbench.ui.instancediagram.diagram.part.InstanceDiagramEditorID">
              </equals>
           </with>
        </or>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.entity">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.entityEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.datatype">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.datatypeEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.event">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.eventEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.enumeration">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.enumerationEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.exception">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.exceptionEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.query">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.queryEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.updateProcedure">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.updateProcedureEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.session">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.sessionEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.association">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.associationEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.associationClass">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.associationClassEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.dependency">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.dependencyEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
     <definition
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledInProfile.package">
        <iterate
              ifEmpty="false">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact.packageEnabled"
                    value="true">
              </test>
           </adapt>
        </iterate>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.eclipse.tigerstripe.workbench.ui.internal.handlers.TigerstripeCommandHandler"
           commandId="org.eclipse.tigerstripe.workbench.ui.base.generate">
        <enabledWhen>
           <or>
           <reference
                    definitionId="org.eclipse.tigerstripe.workbench.ui.base.TSEditorsActive">
              </reference>
              <reference
                    definitionId="org.eclipse.tigerstripe.workbench.ui.base.TSProjectSelected">
              </reference>
             </or>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.tigerstripe.workbench.ui.internal.handlers.TigerstripeCommandHandler"
           commandId="org.eclipse.tigerstripe.workbench.ui.base.patternBasedCreate">
        <enabledWhen>
           <or>
              <reference
                    definitionId="org.eclipse.tigerstripe.workbench.ui.base.TSEditorsActive">
              </reference>
              <reference
                    definitionId="org.eclipse.tigerstripe.workbench.ui.base.TSProjectSelected">
              </reference>
           </or>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.tigerstripe.workbench.ui.internal.handlers.TigerstripeCommandHandler"
           commandId="org.eclipse.tigerstripe.workbench.ui.base.patternBasedProjectCreate">
     </handler>
     <handler
           class="org.eclipse.tigerstripe.workbench.ui.internal.handlers.FacetExportHandler"
           commandId="org.eclipse.tigerstripe.workbench.ui.menu.export.model.facet">
     </handler>
     <handler
           class="org.eclipse.tigerstripe.workbench.ui.internal.handlers.RefactoringRenameHandler"
           commandId="org.eclipse.tigerstripe.workbench.ui.base.renameHandler">
     </handler>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.eclipse.tigerstripe.workbench.ui.internal.handlers.EnabledArtifactType"
           id="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifactPropertyTester"
           namespace="org.eclipse.tigerstripe.workbench.ui.base.enabledArtifact"
           properties="entityEnabled,datatypeEnabled,eventEnabled,exceptionEnabled,enumerationEnabled,queryEnabled,updateNotificationEnabled,sessionEnabled,associationEnabled,associationClassEnabled,dependencyEnabled,packageEnabled"
           type="org.eclipse.core.resources.IResource">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.jdt.ui.classpathContainerPage">
     <classpathContainerPage
           class="org.eclipse.tigerstripe.workbench.ui.internal.wizards.classpath.ReferencesContainerPage"
           id="org.eclipse.tigerstripe.workbench.base.modelReferences"
           name="Model Project References">
     </classpathContainerPage>
  </extension>
  <extension
        point="org.eclipse.ui.ide.markerResolution">
     <markerResolutionGenerator
           class="org.eclipse.tigerstripe.workbench.ui.internal.markers.AnnotationResolutionGenerator"
           markerType="org.eclipse.tigerstripe.workbench.base.annotationmarker">
     </markerResolutionGenerator>
  </extension>
  <extension
        point="org.eclipse.tigerstripe.annotation.ui.noteProviders">
     <provider
           class="org.eclipse.tigerstripe.workbench.ui.internal.views.stereotypes.StereotypeNoteProvider">
     </provider>
  </extension>
  <extension
        point="org.eclipse.tigerstripe.annotation.core.refactoringListeners">
     <listener
           class="org.eclipse.tigerstripe.workbench.ui.internal.editors.descriptor.ChangeIdRefactoringListener">
     </listener>
  </extension>

</plugin>
