#foreach($field in $artifact.Fields)
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
    /**
     * $xmlEncode.encode($field.Comment)
     * @tigerstripe.field 
     *  isOptional = "$field.isOptional()"
     *  isReadOnly = "$field.isReadOnly()"
     *  isOrdered = "$field.isOrdered()"
     *  isUnique = "$field.isUnique()"
     *  typeMultiplicity = "$field.Type.TypeMultiplicity.Label"
#if ($field.hasDefaultValue() )     *  defaultValue = "$xmlEncode.encode($field.DefaultValue)" 
#end
#if( $field.RefBy != -1)     *   ref-by = "$field.RefByString"
#end
     *
     *## Take care of the stereotypes
#foreach( $stereotype in $field.getStereotypeInstances() )
     * @tigerstripe.stereotype st.name = "$stereotype.Name"
#foreach( $stAttr in $stereotype.getCharacterizingIStereotype().getAttributes() ) 
 #if ( $stAttr.isArray() )
 *	   $stAttr.Name = "$stereotype.getStringifiedAttributeValues($stAttr)"	
	#else
 *     $stAttr.Name = "$xmlEncode.encode($stereotype.getAttributeValue($stAttr))"
 #end
#end
#end
     * 
#foreach( $tag in $field.NonTigerstripeTags )
     * $tag
#end
     */
	$utils.getVisibilityAsString( $field ) $field.Type.FullyQualifiedName$field.Type.Dimensions $field.Name;

#end
