<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.tigerstripe.workbench.ui.base.closedDiagramSynchronizer">
      <closedDiagramSynchronizer
            name="ClosedClassDiagramSynchronizer"
            synchronizerClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.adaptation.clazz.sync.ClosedClassDiagramSynchronizer"/>
   </extension>
   <extension
         point="org.eclipse.tigerstripe.workbench.ui.base.modelFileContentReader">
      <modelFileContentReader
            name="classDiagramModelFileContentReader"
            readerClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.adaptation.helpers.ClassDiagramModelFileContentReader"/>
   </extension>
   <extension
         point="org.eclipse.tigerstripe.workbench.ui.base.diagramAuditor">
      <diagramAuditor
            auditorClass="org.eclipse.tigerstripe.workbench.ui.visualeditor.adaptation.clazz.sync.ClassDiagramAuditor"
            name="Class Diagram Auditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.tigerstripe.workbench.ui.adaptation.objectContribution1"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
         <action
               class="org.eclipse.tigerstripe.workbench.ui.visualeditor.adaptation.clazz.refresh.ClassDiagramRefreshAction"
               id="org.eclipse.tigerstripe.workbench.ui.adaptation.diagramSyncUp"
               label="Sync-up with Model"
               />
      </objectContribution>
   </extension>

</plugin>
