<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="umlImportModelTrimmer" name="uml Import Model Trimmer" schema="schema/umlImportModelTrimmer.exsd"/>
   <extension-point id="umlImportModelMapper" name="uml Import Model Mapper" schema="schema/umlImportModelMapper.exsd"/>
   <extension-point id="umlCharacterMapper" name="uml Character Mapper" schema="schema/umlCharacterMapper.exsd"/>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.tigerstripe.importWizardCategory"
            class="org.eclipse.tigerstripe.workbench.ui.uml2import.internal.ui.wizards.UML2ImportWizard"
            icon="src/icons/importExport.gif"
            id="org.eclipse.tigerstripe.workbench.UML2Import.wizard1"
            name="UML2 Import">
      </wizard>
      <wizard
            category="org.eclipse.tigerstripe.importWizardCategory"
            class="org.eclipse.tigerstripe.workbench.ui.uml2import.internal.ui.wizards.ImportUML2ProfileWizard"
            icon="src/icons/importExport.gif"
            id="org.eclipse.tigerstripe.workbench.UML2Import.wizard2"
            name="UML2 Profile Import">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.tigerstripe.workbench.ui.UML2Import.actionSet1"
            label="importUMLActions">
         <action
               class="org.eclipse.tigerstripe.workbench.ui.uml2import.internal.ui.action.OpenUML2ImportProfileWizardAction"
               id="org.eclipse.tigerstripe.ui.eclipse.mainMenu.openImportUMLProfileAction"
               label="UML2 Profile"
               menubarPath="org.eclipse.tigerstripe.eclipse.actionSet/org.eclipse.tigerstripe.ui.eclipse.mainMenu/org.eclipse.tigerstripe.ui.eclipse.mainMenu.importMenu/org.eclipse.tigerstripe.workbench.ui.base.menu1/content"
               style="push"
               tooltip="Import a UML2 Profile as a Tigerstripe Profile">
         </action>
         <action
               class="org.eclipse.tigerstripe.workbench.ui.uml2import.internal.ui.action.OpenUML2ImportModelWizardAction"
               id="org.eclipse.tigerstripe.ui.eclipse.mainMenu.openImportUMLModelAction"
               label="UML2 Model"
               menubarPath="org.eclipse.tigerstripe.ui.eclipse.mainMenu/org.eclipse.tigerstripe.ui.eclipse.mainMenu.importMenu/org.eclipse.tigerstripe.workbench.ui.base.menu1/content"
               style="push"
               tooltip="Import a UML2 Model as a Tigerstripe Project">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
            categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
            defaultHandler="org.eclipse.tigerstripe.workbench.ui.uml2import.internal.ui.action.ImportHandler"
            id="org.eclipse.tigerstripe.workbench.ui.UML2Import.importProfile"
            name="ImportUMl2Profile">
      </command>
      <command
            category="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
            categoryId="org.eclipse.tigerstripe.workbench.ui.base.tigerstripecategory"
            defaultHandler="org.eclipse.tigerstripe.workbench.ui.uml2import.internal.ui.action.ImportHandler"
            id="org.eclipse.tigerstripe.workbench.ui.UML2Import.importModel"
            name="ImportUML2Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.tigerstripe.workbench.ui.menu.import">
         <menu
               label="UML2...">
            <command
                  commandId="org.eclipse.tigerstripe.workbench.ui.UML2Import.importProfile"
                  icon="src/icons/importExport.gif"
                  label="Profile"
                  style="push"
                  tooltip="Import a UML2 Profile as a Tigerstripe Profile">
            </command>
            <command
                  commandId="org.eclipse.tigerstripe.workbench.ui.UML2Import.importModel"
                  icon="src/icons/importExport.gif"
                  label="Model"
                  style="push"
                  tooltip="Import a UML2 Model into a Tigerstripe Project">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
