## Parse XML Enums
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
#if ($ossjUtil.interfaceOf($enum.FullyQualifiedName).Generate)
#if ($enum.BaseType.FullyQualifiedName == "int")
#set ($thisType = "int")
#else
#set ($thisType = "string")
#end 
#if ($ossjUtil.interfaceOf($enum.FullyQualifiedName).Generate)
	<!-- Tigerstripe : Enumeration definitions for $enum.Name  -->
    <annotation>
        <documentation>
        $ossjXmlUtil.xMLComment($enum.Comment)
        </documentation>
    </annotation>
	<simpleType name="${ossjUtil.interfaceOf($enum.FullyQualifiedName).Name}">
	#if($pluginRef.Properties.getProperty("useEnumValues") == "true" )
		    <restriction base="$thisType">
		#else
		    <restriction base="string">
		#end
#foreach($label in $enum.Labels)
#if($pluginRef.Properties.getProperty("useEnumValues") == "true" )
     <enumeration value="$ossjXmlUtil.valueOfLabel($label)" />
#else
			     <enumeration value="$label.Name" />
#end
#end
		</restriction>
	</simpleType>
#end
#end
