#if ($ossjUtil.interfaceOf($exception.FullyQualifiedName).Generate)
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
	<!-- Tigerstripe : Exception defintion for $exception.Name  -->
	<complexType name="$ossjUtil.interfaceOf($exception.FullyQualifiedName).Name">
	    <annotation>
            <documentation>
             $ossjXmlUtil.xMLComment($exception.Comment)
            </documentation>
        </annotation>
#if ($exception.hasExtends())
#set ($baseName  = ${ossjXmlUtil.typeNSOf($schemaUtils.getPrefixForArtifact($exception.Extends.FullyQualifiedName),$exception.Extends.FullyQualifiedName, "").NameNoNS} )
#set ($basePrefix = $ossjXmlUtil.typeNSOf($schemaUtils.getPrefixForArtifact($exception.Extends.FullyQualifiedName),$exception.Extends.FullyQualifiedName,"").Prefix)
#else
#set ($baseName  = "BaseException")
#set ($basePrefix = "${coNS}")
#end
#if ($basePrefix != "$exp.expandVar($model.TargetNamespace)" && $baseName != "$ossjUtil.interfaceOf($exception.FullyQualifiedName).Name")
        <complexContent>
			<extension base = "$basePrefix:$baseName" >	
#set ($doExtend = "true")
## NB If the extends stuff is valid or not here, then the same applies to all the other defintions.
#else
#set ($doExtend = "false")
#end
				<sequence/>
#if ($doExtend != "false")
            </extension>
        </complexContent>
#end
	</complexType>
#end