<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
			point="org.eclipse.tigerstripe.annotation.core.refactoringSupport">
		<refactoringSupport
			id="org.eclipse.tigerstripe.annotation.java.refactoring"
        	class="org.eclipse.tigerstripe.annotation.java.ui.refactoring.JavaRefactoringSupport"/>
	</extension>

</plugin>
