<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.tigerstripe.annotation.core.participants">
		<participant class="org.eclipse.tigerstripe.espace.resources.monitor.MonitorStartupManager"/>
	</extension>
	
	
  <extension
       point="org.eclipse.tigerstripe.espace.resources.listener">
    <listener
          class="org.eclipse.tigerstripe.espace.resources.monitor.RsourceMonitorListenerProvider"
          order="10">
    </listener>
 </extension>
	
	
</plugin>
