<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.buckminster.core.componentTypes">
      <componentType
            class="org.eclipse.tigerstripe.workbench.optional.buckminster.internal.TigerstripeProjectComponentType"
            id="tigerstripe">
      </componentType>
      <componentType
            class="org.eclipse.tigerstripe.workbench.optional.buckminster.internal.TigerstripeGeneratorComponentType"
            id="tigerstripe.generator">
      </componentType>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.tigerstripe.workbench.optional.buckminster.ant.InstallGenerator"
            library="ant_tasks/tigerstripe-ant.jar"
            name="tigerstripe.installGenerator">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="ant_tasks/tigerstripe-ant.jar">
      </extraClasspathEntry>
   </extension>
</plugin>
