<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.buckminster.core.componentTypes">
      <componentType
            class="org.eclipse.tigerstripe.workbench.optional.buckminster.internal.TigerstripeProjectComponentType"
            id="tigerstripe">
      </componentType>
      <componentType
            class="org.eclipse.tigerstripe.workbench.optional.buckminster.internal.TigerstripeGeneratorComponentType"
            id="tigerstripe.generator">
      </componentType>
   </extension>
   <extension
         point="org.eclipse.buckminster.core.actors">
      <actor
            ID="tigerstripe.installGenerator"
            class="org.eclipse.tigerstripe.workbench.optional.buckminster.internal.actor.InstallGeneratorActor"
            name="tigerstripe.installGenerator">
      </actor>
   </extension>
</plugin>
