<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/tigerstripe/schemas/BuildsSchema" 
       class = "org.eclipse.tigerstripe.releng.ant.builds.schema.BuildSchemaPackage"
       genModel = "schemas/BuildsSchema.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="buildschema" 
       class="org.eclipse.tigerstripe.releng.ant.builds.schema.util.BuildSchemaResourceFactoryImpl" />
  </extension>
  <extension
        point="org.eclipse.ant.core.antTasks">
     <antTask
           class="org.eclipse.tigerstripe.releng.ant.AddBuild"
           eclipseRuntime="true"
           headless="true"
           library="lib/antSupport.jar"
           name="tigerstripe.addBuild">
     </antTask>
     <antTask
           class="org.eclipse.tigerstripe.releng.ant.NewBuild"
           eclipseRuntime="true"
           headless="true"
           library="lib/antSupport.jar"
           name="tigerstripe.newBuild">
     </antTask>
  </extension>

</plugin>
