<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tigerstripe.annotations"
            name="Annotations">
      </category>
      <view
            category="org.eclipse.tigerstripe.annotations"
            class="org.eclipse.tigerstripe.annotations.ui.views.AnnotationsView"
            id="org.eclipse.tigerstripe.annotation.ui.views.AnnotationsView"
            name="Annotations">
      </view>
   </extension>

</plugin>
