<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.tigerstripe.annotation.ui.workbenchAnnotationProvider">
		<selectionConverter
        	class="org.eclipse.tigerstripe.annotation.resource.ui.ResourceSelectionConverter"/>
	</extension>
	
	<extension
       point="org.eclipse.tigerstripe.annotation.core.refactoringListeners">
    	<listener
          class="org.eclipse.tigerstripe.annotation.resource.ui.refactoring.ResourceRefactoringSupport">
    	</listener>
 	</extension>
</plugin>
