<?xml version="1.0" encoding="UTF-8"?>
#*
  Copyright (c) 2007 Cisco Systems, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      E. Dillon (Cisco Systems, Inc.) - reformat for Code Open-Sourcing
*#
<tigerstripe version="1.1">
	<project name="$details.ProjectName">
		<outputDirectory>$details.OutputDirectory</outputDirectory>
		<nature>$details.Nature</nature>
		<property name="defaultArtifactPackage">$details.DefaultArtifactPackage</property>
		</project>
	<repositories>
		<repository baseDir=".">
			<includes>src/**/*.java</includes>
		</repository>
	</repositories>
	<plugins>
			</plugins>
	<dependencies>
	#foreach($key in $details.ReqModules.keySet())
		<dependency path="$key"/>
	#end
    </dependencies>
    <advanced>
	  <advancedProperty name="modelImport.useTargetProjectAsGuide">true</advancedProperty>
	  <advancedProperty name="modelImport.db.importViews">true</advancedProperty>
	  <advancedProperty name="modelImport.db.importTables">true</advancedProperty>
      <advancedProperty name="generation.messagePayloadSampleDefaultlocation">$details.MessagePayloadSampleDefaultlocation</advancedProperty>
      <advancedProperty name="generation.messagePayloadSampleAllowNetwork">$details.MessagePayloadSampleAllowNetwork</advancedProperty>
	  <advancedProperty name="generation.generateReport">$details.GenerateReport</advancedProperty>
	  <advancedProperty name="generation.logMessages">$details.LogMessages</advancedProperty>
	  <advancedProperty name="misc.ignoreArtifactElementsWithoutTag">true</advancedProperty>
    </advanced>
</tigerstripe>
