<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="annotationProvider" name="annotationProvider" schema="schema/annotationProvider.exsd"/>
	<extension-point id="router" name="router" schema="schema/router.exsd"/>
	<extension-point id="annotationType" name="annotationType" schema="schema/annotationType.exsd"/>
	<extension-point id="annotationAdapter" name="annotationAdapter" schema="schema/annotationAdapter.exsd"/>
	<extension-point id="constraints" name="constraints" schema="schema/constraints.exsd"/>
	<extension-point id="packageLabel" name="packageLabel" schema="schema/packageLabel.exsd"/>
 <extension-point id="participants" name="participants" schema="schema/participants.exsd"/>
 <extension-point id="refactoringListeners" name="Refactoring Changes Listeners" schema="schema/refactoringListeners.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http:///org/eclipse/tigerstripe/annotation.ecore" 
			class = "org.eclipse.tigerstripe.annotation.core.AnnotationPackage"
			genModel = "model/annotation.genmodel" /> 
	</extension>
	
	<extension
			point="org.eclipse.tigerstripe.espace.resources.packageFinder">
		<packageFinder
			class="org.eclipse.tigerstripe.annotation.internal.core.PackageFinder"/>
	</extension>
 <extension
       point="org.eclipse.help.toc">
    <toc
          file="doc/toc.xml">
    </toc>
    <toc
          file="doc/apiToc.xml"
          primary="true">
    </toc>
 </extension>

</plugin>
