<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="annotationProvider" name="annotationProvider" schema="schema/annotationProvider.exsd"/>
	<extension-point id="router" name="router" schema="schema/router.exsd"/>
	<extension-point id="annotationType" name="annotationType" schema="schema/annotationType.exsd"/>
	<extension-point id="annotationAdapter" name="annotationAdapter" schema="schema/annotationAdapter.exsd"/>
 <extension-point id="refactoringSupport" name="refactoringSupport" schema="schema/refactoringSupport.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http:///org/eclipse/tigerstripe/annotation.ecore" 
			class = "org.eclipse.tigerstripe.annotation.core.AnnotationPackage"
			genModel = "model/annotation.genmodel" /> 
	</extension>

</plugin>
