<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.9 2008/08/27 09:20:08 ystrot Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore" 
       class = "org.eclipse.tigerstripe.annotation.core.test.model.ModelPackage"
       genModel = "model/model.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Author"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
           description="Author Annotation"
           eclass="Author">
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Hibernate"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
           description="Hibernate Annotation"
           eclass="Hibernate">
         <target
               type="org.eclipse.jdt.core.IJavaElement"/>
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Day List"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
           description="Days of week list"
           eclass="DayList">
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Project Description"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
           description="Project Description Annotation"
           eclass="ProjectDescription">
         <target
               type="org.eclipse.core.resources.IProject"/>
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="MIME Type"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
           description="MIME Type Annotation"
           eclass="MimeType">
         <target
               type="org.eclipse.core.resources.IResource" unique="false"/>
     </definition>
  </extension>
	
	<extension
			point="org.eclipse.tigerstripe.annotation.ui.annotationLabelProvider">
		<provider
			class="org.eclipse.tigerstripe.annotation.core.test.model.LabelProvider"
			epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
			eclass="Author"/>
		<provider
			class="org.eclipse.tigerstripe.annotation.core.test.model.LabelProvider"
			epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
			eclass="Hibernate"/>
		<provider
			class="org.eclipse.tigerstripe.annotation.core.test.model.LabelProvider"
			epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
			eclass="MimeType"/>
		<provider
			class="org.eclipse.tigerstripe.annotation.core.test.model.LabelProvider"
			epackage-uri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"
			eclass="DayList"/>
	</extension>
	
	<extension
	      point="org.eclipse.tigerstripe.annotation.core.annotationProvider">
    <provider
          class="org.eclipse.tigerstripe.annotation.core.test.provider.ResourcePathProvider"
          targetDescription="Resource Path"
          type="org.eclipse.tigerstripe.annotation.core.test.provider.IResourcePath"/>
	</extension>
	
	<extension
	      point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.tigerstripe.annotation.core.test.provider.ResourceAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.annotation.core.test.provider.IResourcePath"/>
      </factory>
	</extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider cache="true">
         <package namespaceUri="http:///org/eclipse/tigerstripe/annotation/core/test/model.ecore"/>
         <constraints categories="org.eclipse.tigerstripe.annotation.validation.category">
            <constraint
                  lang="Java"
                  class="org.eclipse.tigerstripe.annotation.core.test.validation.MimeTypeValidator"
                  severity="ERROR"
                  mode="Live"
                  name="Valid Mime Type"
                  id="org.eclipse.tigerstripe.annotation.core.test.validMimeType"
                  statusCode="1">
               <description>
                  Invalid mime type
               </description>
               <message>
                  Invalid mime type: text/plain
               </message>
               <target class="MimeType">
                  <event name="Set">
                     <feature name="mimeType"/>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
