<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="diagramRendering" name="Tigerstripe Explorer Diagram Rendering" schema="schema/diagramRendering.exsd"/>
   <extension-point id="tigerstripeChangeListener" name="Tigerstripe Change Listener Extension" schema="schema/tigerstripeChangeListener.exsd"/>
   <extension-point id="customArtifactAuditor" name="Tigerstripe Custom Artifact Auditor" schema="schema/customArtifactAuditor.exsd"/>
   <extension-point id="fileExtensionBasedAuditor" name="File Extension Based Auditor" schema="schema/fileExtensionBasedAuditor.exsd"/>
   <extension-point id="customComponentNaming" name="Tigerstripe Custom Component Naming" schema="schema/customComponentNaming.exsd"/>
   <extension-point id="creationPatterns" name="Tigerstripe Patterns" schema="schema/creationPatterns.exsd"/>
   <extension-point id="modelRefactorParticipant" name="Tigerstripe Model Refactor Participant" schema="schema/modelRefactorParticipant.exsd"/>
   <extension-point id="defaultProfile" name="Default Profile" schema="schema/org.eclipse.tigerstripe.defaultProfile.exsd"/>
   <extension-point id="contributedGenerator" name="Tigerstripe Contributed Generator" schema="schema/contributedGenerator.exsd"/>
   <extension-point id="module" name="Tigerstripe Module" schema="schema/module.exsd"/>
   <extension-point id="generateComplete" name="Generate Complete" schema="schema/generateComplete.exsd"/>
   <extension-point id="runAllRulesAsLocal" name="Run All Rules as Local" schema="schema/runAllRulesAsLocal.exsd"/>
<!--   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.tigerstripe.workbench.internal.modelManager.repository.pojo.PojoResourceFactoryImpl"
            type="java">
      </parser>
   </extension>-->
 <extension point="org.eclipse.help.toc">
<toc file="doc/toc.xml">
      </toc>
<toc file="doc/apiToc.xml" primary="true">
      </toc>
</extension>
   <extension
         id="tigerstripeProject"
         name="Tigerstripe Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.tigerstripe.workbench.internal.builder.natures.TigerstripeProjectNature"/>
      </runtime>
      <builder id="org.eclipse.tigerstripe.workbench.base.tigerstripeProjectAuditor"/>
      <builder id="org.eclipse.tigerstripe.workbench.base.cycleReferencesAuditor" />
   </extension>
   <extension 
     id="cycleReferencesAuditor" 
     name="Cycle References Auditor" 
     point="org.eclipse.core.resources.builders">
	  <builder hasNature="true">
	     <run class="org.eclipse.tigerstripe.workbench.internal.builder.CycleReferencesAuditor" />
	  </builder>
   </extension>
   <extension
         id="projectCyclesMarker"
         name="Tigerstripe Projects Cycles Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="tigerstripeProjectAuditor"
         name="Tigerstripe Project Auditor"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.eclipse.tigerstripe.workbench.internal.builder.TigerstripeProjectAuditor"/>
      </builder>
   </extension>
   <extension
         id="auditmarker"
         name="Tigerstripe Audit Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="tigerstripePluginProject"
         name="Tigerstripe Generator Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.tigerstripe.workbench.internal.builder.natures.TigerstripePluginProjectNature"/>
      </runtime>
      <builder id="org.eclipse.tigerstripe.workbench.base.pluggablePluginProjectAuditor"/>
   </extension>
   <extension
         id="pluggablePluginProjectAuditor"
         name="Tigerstripe Generator Auditor"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.eclipse.tigerstripe.workbench.internal.builder.generator.PluggablePluginProjectAuditor"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.tigerstripe.workbench.internal.annotation.TSModuleResourceFactory"
            protocolName="tsmodule">
      </parser>
   </extension>
   <extension
         name="Tigerstripe Adapter Factories"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IAdaptable"
            class="org.eclipse.tigerstripe.workbench.internal.adapt.TigerstripeResourceAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeModelProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeGeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.IAbstractTigerstripeProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM0GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM1GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IManagedEntityArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDatatypeArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEnumArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IExceptionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.ISessionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IQueryArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IUpdateProcedureArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEventArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDependencyArtifact">
         </adapter>
          <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.tigerstripe.workbench.internal.adapt.TigerstripeResourceAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeModelProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeGeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.IAbstractTigerstripeProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM0GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM1GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IManagedEntityArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDatatypeArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEnumArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IExceptionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.ISessionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IQueryArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IUpdateProcedureArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEventArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDependencyArtifact">
         </adapter>
          <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent">
         </adapter>
          <adapter
                type="org.eclipse.tigerstripe.workbench.model.deprecated_.IPackageArtifact">
          </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jdt.core.IJavaElement"
            class="org.eclipse.tigerstripe.workbench.internal.adapt.TigerstripeJavaAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeModelProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeGeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.IAbstractTigerstripeProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM0GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM1GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IManagedEntityArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDatatypeArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEnumArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IExceptionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.ISessionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IQueryArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IUpdateProcedureArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEventArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDependencyArtifact">
         </adapter>
          <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.tigerstripe.workbench.IElementWrapper"
            class="org.eclipse.tigerstripe.workbench.internal.adapt.TigerstripeJavaAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeModelProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeGeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.IAbstractTigerstripeProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM0GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.project.ITigerstripeM1GeneratorProject">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IManagedEntityArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDatatypeArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEnumArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IExceptionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.ISessionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IQueryArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IUpdateProcedureArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEventArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDependencyArtifact">
         </adapter>
          <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.common.util.URI"
            class="org.eclipse.tigerstripe.workbench.internal.adapt.TigerstripeURIAdapterFactory">
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAbstractArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IManagedEntityArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDatatypeArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEnumArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IExceptionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.ISessionArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IQueryArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IUpdateProcedureArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IEventArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationClassArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IDependencyArtifact">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IModelComponent">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IField">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IMethod">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.ILiteral">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IAssociationEnd">
         </adapter>
         <adapter
               type="org.eclipse.tigerstripe.workbench.model.deprecated_.IRelationship">
         </adapter>
      </factory>
   </extension>
   <extension
         id="m0GeneratorProject"
         name="Tigerstripe Instance-level Generator Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.tigerstripe.workbench.internal.builder.natures.TigerstripeM0GeneratorNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.tigerstripe.workbench.base.fileExtensionBasedAuditor">
      <fileExtensionBasedRule
            auditorClass="org.eclipse.tigerstripe.workbench.internal.builder.ProfileDescriptorAuditor"
            name="ProfileDescriptorAuditor">
      </fileExtensionBasedRule>
      <fileExtensionBasedRule
            auditorClass="org.eclipse.tigerstripe.workbench.internal.builder.ContractSegmentAuditor"
            name="ContractSegmentAuditor">
      </fileExtensionBasedRule>
   </extension>
   <extension
         point="org.eclipse.tigerstripe.workbench.base.creationPatterns">
      <patternDefinition
            patternFile="resources/patterns/managedEntity.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/datatype.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/association.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/enumeration.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/event.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/exception.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/package.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/query.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/session.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/updateProcedure.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/associationClass.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/dependency.xml">
      </patternDefinition>
      <patternDefinition
            patternFile="resources/patterns/project.xml">
      </patternDefinition>
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.tigerstripe.workbench.internal.core.classpath.ReferencesInitializer"
            id="org.eclipse.tigerstripe.workbench.base.modelReferences"/>
   </extension>
   <extension
         id="annotationmarker"
         name="Unresolved Annotation"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="missedstorage"
         name="Unknown Annotation Storage"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 <extension
       point="org.eclipse.tigerstripe.annotation.core.refactoringListeners">
    <listener
          class="org.eclipse.tigerstripe.workbench.internal.annotation.TigerstripeRefactoringSupport">
    </listener>
 </extension>
 <extension
       point="org.eclipse.jdt.core.classpathVariableInitializer">
    <classpathVariableInitializer
          class="org.eclipse.tigerstripe.workbench.internal.startup.TigerstripeClassPathInitializer"
          variable="PROFILE_ARTIFACTS_LIB">
    </classpathVariableInitializer>
 </extension>
 <extension
       point="org.eclipse.jdt.core.classpathVariableInitializer">
    <classpathVariableInitializer
          class="org.eclipse.tigerstripe.workbench.internal.startup.TigerstripeClassPathInitializer"
          variable="Equinox Common">
    </classpathVariableInitializer>
 </extension>
 <extension
       point="org.eclipse.jdt.core.classpathVariableInitializer">
    <classpathVariableInitializer
          class="org.eclipse.tigerstripe.workbench.internal.startup.TigerstripeClassPathInitializer"
          variable="Tigerstripe External API">
    </classpathVariableInitializer>
 </extension>
 
 <!-- NM: Bugzilla 321257: Double clicking on a marker should open the correct correpsonding TS editor. -->
 <extension point="org.eclipse.core.contenttype.contentTypes">
     <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.entityContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.EntityContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.associationContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.AssociationContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.associationClassContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.AssociationClassContentDescriber">
         </describer>
     </content-type>
     
     <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.dataContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.DataTypeContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.dependencyContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.DependencyContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.enumContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.EnumContentDescriber">
         </describer>
     </content-type>
     
     <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.eventContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.EventContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.exceptionContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.ExceptionContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.packageContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.PackageContentDescriber">
         </describer>
     </content-type>
     
     <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.queryContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.QueryContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.sessionContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.SessionContentDescriber">
         </describer>
     </content-type>
     
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.eclipse.tigerstripe.workbench.base.updateContentType"
            name="Entity Editor"
            priority="normal">
         <describer
               class="org.eclipse.tigerstripe.workbench.internal.content.describers.UpdateContentDescriber">
         </describer>
     </content-type>
     
 </extension>
 <extension
       point="org.eclipse.tigerstripe.workbench.base.tigerstripeChangeListener">
    <listener
          class="org.eclipse.tigerstripe.workbench.model.ModelResourcesChangeListener"
          level="ALL">
    </listener>
 </extension>
 <extension
       id="org.eclipse.tigerstripe.workbench.base.targetOutOfDateMarker"
       name="Target Out-of-date Marker"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
 </extension>
 <extension
       point="org.eclipse.tigerstripe.espace.resources.resourceProcessor">
    <resourceProcessor
          class="org.eclipse.tigerstripe.workbench.internal.annotation.TigerstripeAnnotationResourceProcessor">
    </resourceProcessor>
 </extension>

</plugin>
