<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.tigerstripe.annotations.scheme">
      <scheme
            ID="org.eclipse.tigerstripe.annotations.samples.scheme.default"
            selector="org.eclipse.tigerstripe.annotations.samples.defaults.DefaultSchemeSelector"
            userLabel="Default">
         <annotationForm
               ID="org.eclipse.tigerstripe.annotations.samples.forms.all"
               selector="org.eclipse.tigerstripe.annotations.samples.defaults.DefaultFormSelector">
         </annotationForm>
         <annotationForm
               ID="org.eclipse.tigerstripe.annotations.samples.forms.entity"
               selector="org.eclipse.tigerstripe.annotations.samples.defaults.DefaultEntityFormSelector">
            <stringAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.version"
                  defaultValue="1.0"
                  index="0"
                  userLabel="Version">
            </stringAnnotationSpecification>
            <stringAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.devowner"
                  index="2"
                  userLabel="Development Owner">
            </stringAnnotationSpecification>
            <stringAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.description"
                  index="1"
                  userLabel="Description">
            </stringAnnotationSpecification>
            <booleanAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.prelim"
                  defaultValue="false"
                  index="4"
                  userLabel="Preliminary">
            </booleanAnnotationSpecification>
            <booleanAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.provisional"
                  defaultValue="false"
                  index="4"
                  userLabel="Provisional">
            </booleanAnnotationSpecification>
         </annotationForm>
         <annotationForm
               ID="org.eclipse.tigerstripe.annotations.samples.forms.project"
               selector="org.eclipse.tigerstripe.annotations.samples.defaults.DefaultProjectFormSelector">
            <stringAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.date"
                  index="0"
                  userLabel="Creation Date">
            </stringAnnotationSpecification>
            <stringAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.creator"
                  index="1"
                  userLabel="Project Creator">
            </stringAnnotationSpecification>
            <stringAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.description"
                  index="2"
                  userLabel="Description">
            </stringAnnotationSpecification>
         </annotationForm>
      </scheme>
   </extension>
   <extension
         point="org.eclipse.tigerstripe.annotations.scheme">
      <scheme
            ID="org.eclipse.tigerstripe.annotations.samples.scheme.hibernate"
            selector="org.eclipse.tigerstripe.annotations.samples.hibernate.HibernateSchemeSelector"
            userLabel="Hibernate Mappings">
         <annotationForm
               ID="org.eclipse.tigerstripe.annotations.samples.forms.entity.hibernate"
               selector="org.eclipse.tigerstripe.annotations.samples.hibernate.HibernateEntityFormSelector">
            <enumerationAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.enum.type"
                  index="0"
                  userLabel="Type Override">
               <literal
                     index="0"
                     value="">
			   </literal>
               <literal
                     index="1"
                     value="text">
               </literal>
               <literal
                     index="2"
                     value="string">
               </literal>
               <literal
                     index="3"
                     value="serializable">
               </literal>
            </enumerationAnnotationSpecification>
            <enumerationAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.enum.cascade"
                  index="1"
                  userLabel="Cascade Override">
               <literal
                     index="0"
                     value="">
				</literal>
               <literal
                     index="1"
                     value="all">
               </literal>
               <literal
                     index="2"
                     value="none">
               </literal>
               <literal
                     index="3"
                     value="save-update">
               </literal>
               <literal
                     index="4"
                     value="save-update delete">
               </literal>
            </enumerationAnnotationSpecification>
            <enumerationAnnotationSpecification
                  ID="org.eclipse.tigerstripe.annotations.samples.annotations.enum.inheritance"
                  index="2"
                  userLabel="Inheritance Override">
               <literal
                     index="0"
                     value="">
               </literal>
               <literal
                     index="1"
                     value="interface">
               </literal>
               <literal
                     index="2"
                     value="union-subclass">
               </literal>
            </enumerationAnnotationSpecification>
         </annotationForm>
      </scheme>
   </extension>

</plugin>
