<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.5 2008/09/08 10:08:20 ystrot Exp $
-->

<plugin>
   <extension-point id="packageFinder" name="packageFinder" schema="schema/packageFinder.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/tigerstripe/espace/resources.ecore" 
       class = "org.eclipse.tigerstripe.espace.resources.ResourcesPackage"
       genModel = "model/resources.genmodel" /> 
  </extension>
  
  <extension
        point="org.eclipse.emf.ecore.extension_parser">
     <parser
           class="org.eclipse.tigerstripe.espace.resources.format.AnnotationResourceFactory"
           type="ann"/>
  </extension>

</plugin>
