<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/04/24 17:24:41 jworrell Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/espace/resources.ecore" 
       class = "org.eclipse.tigerstripe.espace.resources.ResourcesPackage"
       genModel = "model/resources.genmodel" /> 
  </extension>

</plugin>
