<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2008/07/14 08:19:51 ystrot Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/tigerstripe/annotation/example.ecore" 
       class = "org.eclipse.tigerstripe.annotation.example.ExamplePackage"
       genModel = "model/example.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Text Annotation"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/example.ecore"
           description="Annotation with one text field"
           eclass="TextAnnotation">
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Integer Annotation"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/example.ecore"
           description="Annotation with one integer field"
           eclass="IntegerAnnotation">
     </definition>
  </extension>
  
  <extension point="org.eclipse.tigerstripe.annotation.core.annotationType">
     <definition
           name="Check Annotation"
           epackage-uri="http:///org/eclipse/tigerstripe/annotation/example.ecore"
           description="Annotation with one boolean field"
           eclass="CheckAnnotation">
     </definition>
  </extension>

</plugin>
