<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="workbenchAnnotationProvider" name="workbenchAnnotationProvider" schema="schema/workbenchAnnotationProvider.exsd"/>
 <extension-point id="annotationLabelProvider" name="annotationLabelProvider" schema="schema/annotationLabelProvider.exsd"/>
 <extension-point id="propertyProvider" name="propertyProvider" schema="schema/propertyProvider.exsd"/>
 <extension-point id="noteProviders" name="noteProviders" schema="schema/noteProviders.exsd"/>
	
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.tigerstripe.workbench.views.category"
            class="org.eclipse.tigerstripe.annotation.ui.internal.view.property.PropertySheet"
            icon="icons/annotation.gif"
            id="org.eclipse.tigerstripe.annotation.view.property"
            name="Annotation Property View"/>
   </extension>
	
	<extension
			point="org.eclipse.ui.commands">
		<command
        	id="org.eclipse.tigerstripe.annotation.ui.commands.remove"
        	name="Remove"/>
	</extension>
	
	<extension
			point="org.eclipse.ui.actionSets">
		<actionSet
				id="org.eclipse.tigerstripe.annotation.annotationSet"
				visible="true"
				label="Annotations">
			<action
				definitionId="org.eclipse.tigerstripe.annotation.ui.commands.remove"
				class="org.eclipse.tigerstripe.annotation.ui.internal.actions.RemoveURIAnnotationAction"
				enablesFor="1"
				id="org.eclipse.tigerstripe.annotation.ui.resource.actions.remove"
				label="Remove"
				style="push"
				tooltip="Remove Annotation"/>
		</actionSet>
	</extension>

     <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            typeMapper="org.eclipse.tigerstripe.annotation.ui.internal.view.property.AnnotationElementTypeMapper"
            contributorId="org.eclipse.tigerstripe.annotation.ui.properties"
            labelProvider="org.eclipse.tigerstripe.annotation.ui.internal.view.property.CommonLabelProvider">
         <propertyCategory
               category="Properties">
         </propertyCategory>
      </propertyContributor>
   </extension>
 
	<extension 
    		point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs 
				contributorId="org.eclipse.tigerstripe.annotation.ui.properties">   
			<propertyTab
				category="Properties"
				id="property.tab.PropertiesPropertySection"
				label="Properties"/>           
		</propertyTabs>
	</extension>
 
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.eclipse.tigerstripe.annotation.ui.properties">
			<propertySection
				class="org.eclipse.tigerstripe.annotation.ui.internal.view.property.PropertiesSection"
				filter="org.eclipse.tigerstripe.annotation.ui.core.properties.NoteFilter"
				id="property.section.PropertiesPropertySection"
				tab="property.tab.PropertiesPropertySection">
			</propertySection>
		</propertySections>
	</extension>
	
	<extension
	      point="org.eclipse.debug.core.statusHandlers">
    <statusHandler
          class="org.eclipse.tigerstripe.annotation.ui.internal.view.property.ValidationStatusHandler"
          code="1"
          id="org.eclipse.tigerstripe.annotation.ui.statusHandler"
          plugin="org.eclipse.tigerstripe.annotation.validation">
    </statusHandler>
	</extension>
	
	<extension
	      point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.tigerstripe.annotation.ui.internal.editor.PropertyDocumentProvider"
            inputTypes="org.eclipse.tigerstripe.annotation.ui.internal.editor.IPropertyEditorInput"
            id="org.eclipse.tigerstripe.annotation.ui.documentProvider"/>
	</extension>
	
  <extension
      point="org.eclipse.tigerstripe.annotation.ui.propertyProvider">
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.GeneralPropertyProvider"
        priority="0"/>
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.PrimitivePropertyProvider"
        priority="1"/>
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.EObjectPropertyProvider"
        priority="1"/>
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.EnumerationPropertyProvider"
        priority="1"/>
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.StringListPropertyProvider"
        priority="1"/>
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.BooleanPropertyProvider"
        priority="2"/>
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.AnnotatedPropertyProvider"
        priority="2"/>
    <provider
        class="org.eclipse.tigerstripe.annotation.ui.internal.properties.DatePropertyProvider"
        priority="2"/>
  </extension>
  <extension
        point="org.eclipse.tigerstripe.annotation.ui.noteProviders">
     <provider
           class="org.eclipse.tigerstripe.annotation.ui.core.view.AnnotationNoteProvider">
     </provider>
  </extension>
  <extension
        point="org.eclipse.ui.propertiesView">
     <excludeSources
           id="org.eclipse.tigerstripe.annotation.view.property">
     </excludeSources>
  </extension>

</plugin>
