<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="scheme" name="org.eclipse.tigerstripe.annotations.scheme" schema="schema/scheme.exsd"/>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/tigerstripe/schemas/annotations" 
       class = "org.eclipse.tigerstripe.annotations.internal.context.ContextPackage"
       genModel = "model/annotations.genmodel" /> 
  </extension>

</plugin>
